    <!-- banner图预约框 -->
    <div class="booking-banner">
        <div class="layout clearfix">
            <div class="fl fcw">
                <h2 class="f36 pt15">资深顾问为您<strong>量身定制保障方案</strong></h2>
                <p class="booking-txt1">10年家庭保险方案服务经验，精选1000多款产品，300位专业顾问根据您的需求和家庭状况，为您量身定制全面、高性价比的专属保险方案</p>
                <ul class="booking-txt2">
                    <li class="mt5"><span class="mr10">&bull;</span>1V1需求分析</li>
                    <li><span class="mr10">&bull;</span>综合考虑家庭状况</li>
                </ul>
                <p class="f14 pt35">我们的服务流程：</p>
                <div class="booking-banner-list">
                    <div><i class="iconfont f20">&#xe763;</i>
                        <p class="f14">顾问预约</p>
                    </div>
                    <i class="iconfont  booking-banner-arrow">&#xe707;</i>
                    <div><i class="iconfont f20">&#xe761;</i>
                        <p class="f14">分析需求 </p>
                    </div>
                    <i class="iconfont  booking-banner-arrow">&#xe707;</i>
                    <div><i class="iconfont f20">&#xe762;</i>
                        <p class="f14">定制方案 </p>
                    </div>
                    <i class="iconfont  booking-banner-arrow">&#xe707;</i>
                    <div><i class="iconfont f20">&#xe747;</i>
                        <p class="f14">协助投保 </p>
                    </div>
                    <i class="iconfont  booking-banner-arrow">&#xe707;</i>
                    <div><i class="iconfont f20">&#xe721;</i>
                        <p class="f14">持续服务 </p>
                    </div>
                </div>

            </div>
            <div class="booking-message">
             <div class="error-msg" id="errorMsg"></div>
                <div class="bgfw mt30">
                    <input type="text" placeholder-text="您的称呼" class="booking-input placeholder-item" placeholder-left="9" placeholder-width=""  placeholder-height="18"  placeholder-color="#c6c6c6" placeholder-size="13"  placeholder-zindex="5"  id="name" >
                </div>
                <div class="bgfw mt30">
                    <input type="text" placeholder-text="手机" class="booking-input placeholder-item" placeholder-left="9" placeholder-width=""  placeholder-height="18"  placeholder-color="#c6c6c6" placeholder-size="13"  placeholder-zindex="5" id="tel">
                </div>
                <div class="hz-dropdown mt30" data-dropdown="content-dropdown" id="contact">
                    <div class="input-select">
                        <span class="input-select-text more-tag">联系时段</span>
                        <b class="iconfont"></b>
                    </div>
                    <div class="hz-dropdown-content" style="width:250px;display:none" data-dropdown-item="content-dropdown">
                        <!--可选项-->
                        <ul class="hz-dropdown-menu">
                            <li class="hz-select-option">随时</li>
                            <li class="hz-select-option">早上</li>
                            <li class="hz-select-option">中午</li>
                            <li class="hz-select-option">晚上</li>
                        </ul>
                    </div>
                </div>
                <p class="f14 fc6 tac pt30">已有<span class="primary-color" id="reserveCount"></span>人提交预约</p>
                <a class="hz-button hz-button-block hz-button-primary" href="javascript:;" id="btnReserve">提交预约</a>
                <p class="f14 fc9 tac pt15">预约提交后，顾问会在1个工作日内为您服务</p>
            </div>
        </div>
    </div>
    <!-- 正文内容 -->
    <div class="layout">
        <h2 class="f36 pt30 tac">服务优势</h2>
        <ul class="booking-list">
            <li>
                <img src="http://img.huizecdn.com/hz/www/page/booking/img1.jpg" alt="量身定制" height="190">
                <h3 class="fb">风险分析</h3>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>6类27项子纬度个性测评</p>
                <p class="fc9 pl10">深度需求评测，推荐适合产品</p>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>10年沉淀2000万用户大数据</p>
                <p class="fc9 pl10">科学运算模型，评测更准确</p>
            </li>
            <li>
                <img src="http://img.huizecdn.com/hz/www/page/booking/img2.jpg" alt="专业中立" height="190">
                <h3 class="fb">专业中立</h3>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>系统化专业知识培训</p>
                <p class="fc9 pl10">顾问均持有 保险经纪从业人员执业证</p>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>公正中立第三方平台</p>
                <p class="fc9 pl10">从用户角度出发客观推荐产品</p>
            </li>
            <li>
                <img src="http://img.huizecdn.com/hz/www/page/booking/img3.jpg" alt="免打扰" height="190">
                <h3 class="fb">专人服务</h3>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>专属家庭保险顾问</p>
                <p class="fc9 pl10">一对一顾问服务，没有电话骚扰</p>
                <p class="f16 fc6 pt15 fb"><span class="mr5">&bull;</span>服务时间方式自选</p>
                <p class="fc9 pl10">电话、微信等服务方式、时间自选</p>
            </li>
        </ul>
    </div>
    <div class="booking-case">
        <h2 class="f36 fcw tac">服务案例</h2>
        <div class="layout bgfw mt30">
            <ul class="booking-tab-con">
                <li>
                    <div class="fl">
                        <img src="http://img.huizecdn.com/hz/www/page/booking/img4.jpg" alt="杨先生三口之家">
                        <p class="bookimg-txt4">杨先生三口之家</p>
                    </div>
                    <div class="booking-tab-main">
                        <h3 class="f30">全家综合健康保障方案</h3>
                        <p class="f18 fc6 pb40"> 精确分析家庭需求超值拥有定制保障</p>
                        <div class="booking-case-con">
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe759;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">节约保费50%</p>
                                    <p class="fc9 f14">每天只需48.8元，全家都保障</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe758;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">全面的家庭保障方案</p>
                                    <p class="fc9 f14">一家三口的健康、意外保障都涵盖</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe760;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">理赔不需自己跑</p>
                                    <p class="fc9 f14">慧择顾问全程协助理赔</p>
                                </div>
                            </div>
                        </div>
                        <img src="http://img.huizecdn.com/hz/www/page/booking/bg.png" class="booking-img2" alt="">
                    </div>
                </li>
                <li class="hidden">
                    <div class="fl">
                        <img src="http://img.huizecdn.com/hz/www/page/booking/img5.jpg" alt="李小姐 / 27岁">
                        <p class="bookimg-txt4">李小姐 / 27岁</p>
                    </div>
                    <div class="booking-tab-main">
                        <h3 class="f30">高性价比白领健康保障方案</h3>
                        <p class="f18 fc6 pb40"> 涵盖全面的超值保障</p>
                        <div class="booking-case-con">
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe759;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">节约保费50%</p>
                                    <p class="fc9 f14">每天只需3.3元</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe758;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">全面的健康保障方案</p>
                                    <p class="fc9 f14">重疾意外医疗、住院津贴全涵盖</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe760;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">理赔不需自己跑</p>
                                    <p class="fc9 f14">慧择顾问全程协助理赔</p>
                                </div>
                            </div>
                        </div>
                        <img src="http://img.huizecdn.com/hz/www/page/booking/bg.png" class="booking-img2" alt="">
                    </div>
                </li>
                <li class="hidden">
                    <div class="fl">
                        <img src="http://img.huizecdn.com/hz/www/page/booking/img6.jpg" alt="儿子健健" style="margin-top:-20px">
                        <p class="bookimg-txt4 ml20">儿子健健</p>
                    </div>
                    <div class="booking-tab-main">
                        <h3 class="f30">尊享版少儿健康保障方案 </h3>
                        <p class="f18 fc6 pb40"> 优质的全面儿童保障</p>
                        <div class="booking-case-con">
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">76</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">61种重疾和15种轻症保障 </p>
                                    <p class="fc9 f14">市场上少儿险普遍为30种左右</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe758;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">全面的健康保障方案</p>
                                    <p class="fc9 f14">重疾、轻症、意外、住院全涵盖</p>
                                </div>
                            </div>
                            <div class="booking-case-con-p">
                                <span class="booking-icon"><i class="iconfont">&#xe760;</i></span>
                                <div class="fl">
                                    <p class="bookimg-txt3">超高保额，价格实惠</p>
                                    <p class="fc9 f14">每天仅需22.5元即有50万重疾保障</p>
                                </div>
                            </div>
                        </div>
                        <img src="http://img.huizecdn.com/hz/www/page/booking/bg.png" class="booking-img2" alt="">
                    </div>
                </li>
            </ul>
            <ul class="booking-tab">
                <li class="active">家庭</li>
                <li>白领</li>
                <li>少儿</li>
            </ul>
        </div>
    </div>
