 @charset 'utf-8';
//清除浮动
 @mixin clearfix {
	&:before,&:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		line-height: 0;
		overflow: hidden;
	}
	& {
		zoom: 1;
	}
}


@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-moz-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}
@mixin animation($string...) {
	-webkit-animation: $string;
	-moz-animation: $string;
	-ms-animation: $string;
	-o-animation: $string;
	animation: $string;
}
//超过的文字就显示...
@mixin ell {
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
 //内联行
@mixin inlineBlock {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
@mixin transition($string...) {
	-webkit-transition: $string;
	-moz-transition: $string;
	-ms-transition: $string;
	-o-transition: $string;
	transition: $string;
}
@mixin transform($string) {
	-webkit-transform: $string;
	-moz-transform: $string;
	-ms-transform: $string;
	-o-transform: $string;
	transform: $string;
}


// arrow(direction,size,color);
//箭头
@mixin arrow($direction,
$size,
$color) {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: $size;
    @if $direction == top {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}
//最小高度
@mixin minHeight($min-height) {
	min-height: $min-height;
	height: auto !important;
	height: $min-height;
}
//最小宽度
@mixin minWidth($minWidth){
	min-width: $minWidth;
	_width: $minWidth;
}

//透明度设置
@mixin opacity($opacity){
	opacity: $opacity;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity= #{$opacity * 100} );
}
//浮动
@mixin float($float){
	@if $float == left{
		float: left;
	}
	@elseif $float == right{
		float: right;
	}
	_display: inline;
}


//禁止选择文字
@mixin userSelect {
	-moz-user-select: none; /* firefox */
	-webkit-user-select: none; /* webkit */
	-ms-user-select: none; /* IE10 */
	-khtml-user-select: none; /* old */
	user-select: none;
}
