<div class="dialog-product-expired layui-layer-wrap">
    <p class="tac f18 fc9 pt30 pb45">非常抱歉，该产品已经下架，暂时不能购买</p>
    <p class="f12">根据你的浏览，我们为您推荐相似保险产品：</p>
    <% var salePromotaionArr = ['赠品', '红包', '金豆', '满减', '预约'];
    var saleList=(data.salePromotionList||[]);
    var labelList=(data.labelList||[]);
    var promises=(data.promise||[]);
    var protectList=(data.restrictRules&&data.restrictRules.protectTrialItemList)||[];
    %>
    <div class="product-item mt15">
        <div class="p30 dialog-product-body">
            <h4 class="clearfix dialog-product-title">
            <a class="company-logo fr" target="_blank" href="http://www.huize.com/brand/detail/<%=data.companyId%>">
                <img src="<%=data.companyBigLogo%>" height="45">
            </a>
            <a class="f24" href="/product/detail-<%=data.productId%>.html" target="_blank"><%=data.productName%> <%=data.planName%></a>
            <% saleList.forEach(function(item){%>
            <div class="marketing-info">
                <span class="hz-badge hz-badge-primary hz-radius mr10"><%=salePromotaionArr[item.typeCode]%></span>
            </div>
            <%})%>
            </h4>
            <div class="post-tag-wrap">
                <% labelList.forEach(function(item){
                var item = item.replace(/<[^>]+(>?)/g,"");
                %>
                <div class="post-tag ell"><%=item%></div>
                <%})%>
            </div>
            <div class="product-item-content">
                <ul class="hz-list f12 lh24">
                    <% protectList.forEach(function(item){%>
                    <li class="hz-list-item">
                        <span class="hz-list-title"><%=item.name%></span>
                        <%
                            var premium = item.fullPremium || item.fullPremium || '';
                            var unit = item.showUnit || ''
                        %>
                        <span class="hz-list-content"><%=premium + unit%></span>
                    </li>
                    <%})%>
                </ul>

                <div class="mt10">
                    <% promises.forEach(function(item){%>
                    <span class="mr20"><i class="iconfont primary-color f22 mr10">&#xe725;</i><%=item.content%></span>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
    
    <div class="mt30 tac">
        <a class="hz-button hz-button-primary button-go-buy" href="http://www.huize.com/product/detail-<%=data.productId%>.html?DProtectPlanId=<%=data.planId%>" target="_blank">去购买</a>
        <a class="primary-link inline-block ml15" href="http://www.huize.com/product/ins-<%=data.categoryId%>-0-0" target="_blank">查看其它同类保险&gt;</a>
    </div>
</div>