<div class="insure-step-page  pt20 pb20 f14" style="background: #f0f0f0;">
	
	<!--详情页面标识-->
	<div class="layout clearfix pt30 pb30">
		<div class="insure-step-primary">
			<div class="insure-step-container ">
				<div class="hz-alert hz-alert-info f12 fc6">
					<i class="icon18x18 icon18x18-03"></i>
					为了保障您的权益，请填写真实有效的信息。您填写的内容仅供投保使用，对于您的信息我们会严格保密。
				</div>
				<div id="insureBox"></div>
				<!--health-body end-->
			</div>
		</div>
		<div class="insure-step-secondary">
			<div class="secondary-hot-product bgfw">
				<div class="secondary-hot-product-head">
					<a class="company-logo" href="http://www.hzins.com/brand/detail/69">
						<img src="http://files.hzins.com/images/short/public/product/d/da/dae/dae0/6f5c36835910b8b07df257908b95.gif" height="45">
					</a>
					<h2 class="hot-product-title mt35 f18"><a href="javascript:;">少儿平安保险</a></h2>
				</div>
				<div class="secondary-hot-product-body">
					<div class="protect-item">
						<h4 class="fc6 f14 fb mb5">保障期限</h4>
						<p class="f12 fc6 mb15">1年</p>
						<h4 class="fc6 f14 fb mb5">保障权益</h4>
						<ul class="hz-list f12 fc6 lh20">
							<li class="hz-list-item">
								<span class="hz-list-title ell">意外身故意外身故意外身故/伤残</span>
								<p class="hz-list-content ell"><span class="pl10">10万元</span></p>
							</li>
							<li class="hz-list-item">
								<span class="hz-list-title">意外身故/伤残</span>
								<p class="hz-list-content"><span class="pl10">10万元</span></p>
							</li>
							<li class="hz-list-item">
								<span class="hz-list-title">意外身故/伤残</span>
								<p class="hz-list-content"><span class="pl10">10万元</span></p>
							</li>
						</ul>
					</div>
					<!--protect-item end-->
				</div>
				<!--secondary-hot-product-body end-->
				<div class="secondary-hot-product-foot">
					<div class="hz-list lh20">
						<div class="hz-list-item">
							<span class="hz-list-title">价格</span>
							<p class="hz-list-content tar">
								￥150.00
							</p>
						</div>
						<div class="hz-list-item">
							<span class="hz-list-title">份数</span>
							<p class="hz-list-content tar">1</p>
						</div>
					</div>
					<div class="mt15 hot-product-price">
						<p class="primary-color fr">
							￥ <span class="f36">150.00</span>
						</p>
						<span>合计</span>
					</div>
					<!--hot-product-price end-->
				</div>
				<!--secondary-hot-product-foot end-->
			</div>
			<!--secondary-hot-product end-->
		</div>
		<!--insure-step-secondary end-->
	</div>
</div>