<div class="car-br">
    <div class="layout">
        <a href="javascript:;" class="car-br-bn1 OutIn js-view-price">获取精准报价</a>
        <img src="//img.huizecdn.com/hz/www/page/car/txt.png" alt="banner图文字" class="car-br-txt">
        <!--<a href="http://www.huize.com/baoxianyuyue?oppName=车险服务专案–慧择PC" target="_blank" class="car-br-bn2 OutIn">预约顾问</a>-->
    </div>
</div>


<div class="layout">
    <h2 class="car-tt">车险知多少<span>保障条款那么多，哪些最需要买？</span></h2>
    <ul class="car-know">
                        <li class="car-know1">
                                <div class="box">
                                  <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">
                                         <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">

                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>发生保险事故时，补偿爱车自身损失</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <p><span>·</span>车子撞到护栏、柱子等造成爱车受损</p>
                                                                    <p><span>·</span>不小心撞到了别人的车，爱车受损</p>


                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合所有车主，高性价比保障项目</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div>
                        </li>
                        <li class="car-know2">
                                <div class="box">
                                  <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>车窗和挡风玻璃的单独破碎，需按实际损失赔偿</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <p><span>·</span>高速上行驶被飞石击碎挡风玻璃</p>
                                                                    <p><span>·</span>高空抛物，砸坏挡风玻璃了</p>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合经常出行高速公路车主，经常停在露天车主</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div>
                        </li>
                        <li class="car-know3">
                                <div class="box">
                                  <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>发生保险事故，保险公司根据条款赔偿您对第三方（人或是物）造成的损失</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">脚一滑撞了别人的豪车，几十万赔偿不给不行</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">手一滑就撞到别人造成了伤亡，住院都得几千块</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">赔付交强险不足部分，对三者造成的伤害由保险公司赔付</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div>
                        </li>
                        <li class="car-know4">
                                <div class="box">
                                  <img src="//img.huizecdn.com/hz/www/page/car/icon-2.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>爱车被偷走或被抢走，保险公司根据条款进行赔偿</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">停在露天停车场被偷走了</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">遇到歹徒持刀抢劫还把车开跑了</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合没有固定停车位的车主</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div>
                        </li>
                        <li class="car-know5"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>暴雨造成车辆发动机损坏，按规定赔付修复费用</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span><p class="ovh"> 小区发生水涝，车主的发动机泡坏</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">路面积水严重，造成发动机损坏无法驱动</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合多雨及内涝地区车主</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                        <li class="car-know6"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-2.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>保险事故发生后，自己不承担损失费用，保险公司费用全包</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">车主撞坏共计损失2万元，车主一分钱都不用承担</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">车主撞伤人共计赔偿5万元，车主一分钱都不用承担</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">推荐买了主险车主选购</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                        <li class="car-know7"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>发生意外事故，造成车内驾驶本人的人身伤亡费用</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">自驾出行躲闪车辆不及时，司机脑部严重受伤</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">雨大路滑车辆侧翻，司机身上多处骨折</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合所有车主，特别是新手及经常开车出行人士</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                        <li class="car-know8"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-2.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>发生意外事故，赔付本车内乘客（非驾驶员）的人身伤亡费用</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">载家人去海边度假，发生车祸导致家人被划伤</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">载朋友聚会，跟对面的车撞了，导致朋友骨折</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">所有车主，要保障家人朋友的人身安全</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                        <li class="car-know9"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-2.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>爱车线路老化或其他自身原因引起的火灾 ，造成爱车损失赔偿</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">夏季高温，爱车莫名其妙就自燃</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span> <p class="ovh">在高速公路上行驶，车尾突然冒烟</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合3年以上的车主</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                        <li class="car-know10"><div class="box">
                          <img src="//img.huizecdn.com/hz/www/page/car/icon-1.png"  alt="慧择图标" class="car-img3">


                                        <div class="car-know-con clearfix">
                                                <div class="wrap">

                                                    <div class="left">
                                                            <h3 class="f20 pb10">是什么</h3>
                                                            <p>车辆停放期间被他人恶意划伤造成的维修费用赔偿</p>
                                                    </div>
                                                    <div class="center">
                                                            <h3 class="f20 pb10">举个例子</h3>
                                                            <div class="listb">
                                                                    <div class="clearfix"><span class="fl">·</span><p class="ovh">停放在小区的新车，被熊娃用钥匙划伤</p></div>
                                                                    <div class="clearfix"><span class="fl">·</span><p class="ovh">去商场购物停放在路边，被人划伤</p></div>
                                                            </div>
                                                    </div>
                                                    <div class="right">
                                                            <h3 class="f20 pb10">选购指数</h3>
                                                            <p>
                                                                <img src="//img.huizecdn.com/hz/www/page/car/icon5.png" height="43" width="43" alt="慧择图标">
                                                            </p>
                                                            <p class="pt30">适合新车主</p>
                                                    </div>
                                                </div>
                                        </div>

                                </div></li>
                </ul>
</div>


<div class="bgf5">
<div class="layout car-process clearfix">
    <img src="//img.huizecdn.com/hz/www/page/car/pic1.png" alt="人物" class="fl">
    <div class="car-process-con">
        <img src="//img.huizecdn.com/hz/www/page/car/pic4.png" alt="文字" class="ml30">
        <ul class="lista">
            <li>
                <img src="//img.huizecdn.com/hz/www/page/car/icon2.png" alt="慧择图标">
                <p class="f20 fc6 pt10">1.填写信息</p>
                <p class="f16 fc9">填写爱车相关信息获取报价</p>
            </li>

            <li>
                <img src="//img.huizecdn.com/hz/www/page/car/icon3.png" alt="慧择图标">
                <p class="f20 fc6 pt10">2.精准报价</p>
                <p class="f16 fc9">选择自己需要的保障项目投保</p>
            </li>

            <li>
                <img src="//img.huizecdn.com/hz/www/page/car/icon4.png" alt="慧择图标">
                <p class="f20 fc6 pt10">3.支付购买</p>
                <p class="f16 fc9">在线支付保费完成购买</p>
            </li>
        </ul>
    </div>
</div>
</div>
  <div class="layout  car-lipei-process">
        <img src="//img.huizecdn.com/hz/www/page/car/pic5.png" alt="文字"><br>
        <img src="//img.huizecdn.com/hz/www/page/car/pic2.gif" alt="慧择图标" class="mt80">
        <ul class="car-listb">
            <li>1.出险报案</li>
            <li>2.提交理赔资料</li>
            <li>3.慧择全程协助</li>
            <li>4.领取理赔款</li>
        </ul>
        <a href="javascript:;" class="car-calling" id="js-target-report">报案方式</a>
    </div>


<div class="bgf5">
    <div class="layout  car-company">
        <h2 class="car-tt">合作保险公司<span>点击保险公司品牌，立即询价（返金豆活动仅限于商业险）</span></h2>
        <ul class="car-listc">
            <li>
                <img src="//files.hzins.com/images/short/public/product/3/3b/3b2/3b26/97c89c938fc85c2d85ef5a040d6c.gif" alt="保险公司logo" >
                <p class="pt25"><span class="fcr">返5%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>
            <li>
                <img src="//images.hzins.com/upload/admin/4/44/448/4482/448240d3ba6c40daac058a49b641ba70.gif" alt="保险公司logo" >
                <p class="pt25"><span class="fcr">返5%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>
            <li>
                <img src="//img.huizecdn.com/hz/www/page/car/minan.png" alt="保险公司logo" height="45" >
                <p class="pt25"><span class="fcr">返15%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>
            <li>
                <img src="//images.hzins.com/upload/admin/6/6d/6d8/6d84/6d8454a874024dd19fa65a5459b00bdf.gif" alt="保险公司logo" >
                <p class="pt25"><span class="fcr">返10%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>
            <li>
                <img src="//images.hzins.com/upload/admin/8/83/83e/83e9/83e9001a4de24a15ae5a9b5ba136ad50.gif" alt="保险公司logo" >
                <p class="pt25"><span class="fcr">返10%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>
            <li>
                <img src="//files.hzins.com/images/short/public/product/e/e0/e0c/e0c4/3c8f24cf60a6ada0f9f92e1fdc87.gif" alt="保险公司logo" >
                <p class="pt25"><span class="fcr">返10%金豆</span></p>
                <a href="javascript:;" class="js-view-price">点击获取报价</a>
            </li>

        </ul>
    </div>
</div>


