<!--页面标识-->
<div class="insure-step-page pb20 f14 bgf0">
	<iframe id='iframepage'  name='iframepage' src='' frameborder="0" marginheight="0" marginwidth="0" style='width:100%;'>
    </iframe> 
</div>
<script type="text/javascript">
	document.domain = 'huize.com';
</script>