<div class="order-header-wrap">
    <div class="order-header  clearfix layout">
        <div class="order-header-logo fl">
            <a href="<%= locals.mainHost %>" title="慧择保险网">
                <img src="//img.huizecdn.com/hz/www/page/hz-logo.png" height="75" alt="慧择保险网"/>
            </a>

            <div class="inline-block ml20 hot-tel">
                <div class="hot-tel-inner">
                    24小时人工坐席
                    <p class="f18 primary-color">4006 366  366</p>
                </div>
            </div>
        </div>
        <div class="hz-step fr">
            <div class="hz-step-box">
                <ol class="hz-step-list" id="steps">
                 
                </ol>
            </div>
        </div>
        <!--step end-->
    </div>
    <!--order-header end-->
</div>