<%include _top%>
<div class="hz-header-wrap">
    <div class="hz-header layout">
        <%include _logo%>
        <div class="hz-header-main clearfix">
            <div class="hz-main-nav-wrap fl">
                <div class="hz-main-nav">
                    <ul class="main-menu clearfix">

                        <!--有下拉的加上drop-main-menu-has 没有就是drop-main-menu-no-->
                        <li class="main-menu-item">
                            <a class="main-menu-link drop-main-menu-has" href="javascript:;" rel="dropdown" data-dropdown="productCategoriges" id="productCategoriges">
                                所有保险产品
                                <i class="iconfont">&#xe70d;</i>
                            </a>
                        </li>
                        <!--main-menu-item end-->

                        <li class="main-menu-item">
                            <a class="main-menu-link" title="保险规划" href="http://www.huize.com/guihua/">规划</a>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link" title="保险品牌" href="http://www.huize.com/brand/list/">品牌</a>
                        </li>

                        <li class="main-menu-item">
                            <a class="main-menu-link" title="保险专题" href="http://www.huize.com/zhuanti/">专题</a>
                        </li>

                        <li class="main-menu-item">
                            <a class="main-menu-link" title="保险定制" href="http://www.huize.com/baoxianyuyue">定制</a>
                        </li>

                        <li class="main-menu-item">
                            <a class="main-menu-link" title="保险理赔" href="http://www.huize.com/claims/">理赔</a>
                        </li>

                    </ul>
                    <!--main-menu end-->

                </div>
            </div>

            <!--搜索-->
            <%include _search%>
            <div class="hz-header-mycount">
                <a class="hz-header-cart-link mr30"  href="//is.huize.com/shopping-cart/" target="_blank">
                    <i class="iconfont f24">&#xe728;</i>我的购物车
                    <span class="hz-header-cart-num">0</span>
                </a>
                <a href="//i.huize.com/?url=MySafe/PolicyAll" target="_blank">
                    <i class="iconfont f24">&#xe747;</i>我的慧择
                </a>
            </div>

        </div>

    </div>
    <!--hz-headeflr end-->
</div>
<!--hz-header-wrap end-->



