<div class="hz-header-search fl">
	<!-- <form action="/search"> -->
		<div class="">
			<input type="text" class="hz-header-search-area placeholder-item" name="keyword" id="txtSearchProduct" placeholder-text="请输入关键字" placeholder-left="" placeholder-width=""  placeholder-height="18"  placeholder-color="#c6c6c6" placeholder-size="13"  placeholder-zindex="5" />
            <a href="http://www.huize.com/baoxianpaiming/" target="_blank" class="hz-search-ranking-link hz-bgpic-sprite hz-bgpic-10" title="保险排名榜"></a>
            <button type="button" class="hz-header-search-button" id="btnSearchProduct"><i class="iconfont fcw f18">&#xe700;</i></button>
		</div>
	<!-- </form> -->
</div>