<div class="hz-header-hottel hz-media-box fr">
    <div class="hz-media-pic mr10"><i class="iconfont">&#xe717;</i></div>
    <div class="hz-media-box-content">
        <p class="header-hottel-tip f14">7X24小时服务热线</p>
        <p class="header-hottel-num f18">
            <%=tel%>
        </p>
    </div>
</div>