<!--顶部工具条-->
<div class="top-nav-wrap">

	<div class="top-nav layout">
		<ul class="top-nav-menu" id="myinfo">
			<li class="top-nav-menu-item top-nav-mobile-item" id="appshow">
				<!--鼠标移上 class menu-item-head添加状态 menu-item-head-hover-->
				<a class="top-nav-menu-link" target="_blank"  href="http://www.huize.com/app/hzapp.html">
					<!--<i class="iconfont top-nav-menu-icon">&#xe70e;</i>-->
					手机慧择
					<i class="iconfont arrow-icon">&#xe70b;</i>
				</a>

				<div class="drop-menu-item-body fn-hide">
					<div class="drop-menu-box hz-media-box mt5">
						<div class="hz-media-pic ml10 mr30">
							<a href="//www.huize.com/app/hzapp.html"><img src="//img.huizecdn.com/hz/www/page/hzmobile.jpg" width="120" alt=""></a>
						</div>

						<div class="hz-media-content mr10">
							<h5 class="f18">下载慧择APP</h5>
							<p class="f14 pt10">领取价值99元大礼包</p>

							<p class="mb10 mt10">
								<a class="hz-button hz-button-block" target="_blank" href="//itunes.apple.com/cn/app/hui-ze-bao-xian/id1038333077?l=en&amp;mt=8">
									<i class="iconfont top-nav-apple-icon">&#xe71b;</i>免费下载</a>
							</p>
							<p>
								<a class="hz-button hz-button-block" href="http://android.myapp.com/myapp/detail.htm?apkName=com.hzins.mobile" target="_blank">
									<i class="iconfont top-nav-android-icon">&#xe71c;</i>免费下载</a>
							</p>
						</div>

					</div>
					<!--drop-menu-box end-->

				</div>
				<!--menu-item-body-->

			</li>
			<li class="menu-item-separator">|</li>
			<li class="top-nav-menu-item top-nav-safe-item">
				<a class="top-nav-menu-link" href="http://i.huize.com/?url=MySafe/PolicyAll" target="_blank">
					我的慧择
					<i class="iconfont arrow-icon">&#xe70b;</i>
				</a>

				<div class="drop-menu-item-body fn-hide">
					<ul class="child-list">
						<li class="child-list-item"><a href="http://i.huize.com/?url=policy/policyAll" target="_blank">所有保单</a></li>
						<li class="child-list-item"><a href="http://i.huize.com/?url=policy/policyUnpay" target="_blank">待支付订单</a></li>
						<li class="child-list-item"><a  href="http://i.huize.com/?url=Policy/PolicyRenewal" target="_blank">自助续保</a></li>
						<li class="child-list-item"><a href="http://www.huize.com/claims/zaixianbaoan" target="_blank">理赔报案</a></li>
					</ul>
				</div><!--menu-item-body end-->
			</li>

			<li class="menu-item-separator">|</li>
			<li class="top-nav-menu-item top-nav-jindou-item">
				<a class="top-nav-menu-link" href="http://www.huize.com/jindoushangcheng/" target="_blank" title="金豆商城">金豆商城</a>
			</li>

			<li class="menu-item-separator">|</li>


			<li class="top-nav-menu-item top-nav-help-item">
				<a class="top-nav-menu-link" href="http://www.huize.com/help/" target="_blank">帮助中心</a>
			</li>

			<li class="menu-item-separator">|</li>

			<li class="top-nav-menu-item ">
				<a class="top-nav-menu-link" href="http://www.huize.com/insure/policyquery" target="_blank">保单查询</a>
			</li>
			<li class="menu-item-separator">|</li>

			<li class="top-nav-menu-item top-nav-webnav-item ">
				<a class="top-nav-menu-link" href="javascript:;">
					网址导航
					<i class="iconfont arrow-icon">&#xe70b;</i>
				</a>

				<div class="drop-menu-item-body fn-hide">
					<div class="drop-menu-box">

						<div class="top-nav-website-box">
							<dl class="top-website-nav">
								<dt>
									<span class="f18 fc9">保险选购</span>
								</dt>

								<dd>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2041-0-0" target="_blank">儿童保险</a>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2048-0-0" target="_blank">成人保险</a>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2050-0-0" target="_blank">中老年保险</a>

									<a class="top-website-link" href="http://www.huize.com/product/ins-2072-0-0" target="_blank">旅游出行</a>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2082-0-0" target="_blank">交通安全</a>
								</dd>

								<dd>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2086-0-0" target="_blank">财产责任</a>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2101-0-0" target="_blank">投资理财</a>
									<a class="top-website-link" href="http://www.huize.com/product/ins-2093-0-0" target="_blank">特色保障</a>
									<a class="top-website-link" href="http://www.huize.com/brand/list/" target="_blank">品牌保险</a>

									<a class="top-website-link" href="http://www.huize.com/baoxianyuyue/" target="_blank">预约顾问</a>
								</dd>
								<dd>
									<a class="top-website-link" href="http://www.huize.com/guihua/" target="_blank">自助规划</a>
								</dd>
							</dl>

							<dl class="top-website-nav">
								<dt>
									<a class="f18" href="http://xuexi.huize.com/" target="_blank">保险学堂</a>
								</dt>

								<dd>
									<a class="top-website-link" href="http://xuexi.huize.com/special/" target="_blank">
										<strong style="padding-left: 14px;">慧视界</strong>
									</a>

									<a class="top-website-link" href="http://xuexi.huize.com/special/list-1-1.html" target="_blank">产品解读</a>
									<a class="top-website-link" href="http://xuexi.huize.com/special/list-2-2.html" target="_blank">保险选购</a>
									<a class="top-website-link" href="http://xuexi.huize.com/special/list-3-3.html" target="_blank">保险法规</a>
									<a class="top-website-link" href="http://xuexi.huize.com/special/list-8-8.html" target="_blank">保险周边</a>
									<a class="top-website-link" href="http://xuexi.huize.com/special/list-4-4.html" target="_blank">理赔案例解析</a>

								</dd>

								<dd>
									<a class="top-website-link" href="http://xuexi.huize.com/insurancefaq/" target="_blank">
										<strong>保险问答</strong>
									</a>

									<a class="top-website-link" href="http://xuexi.huize.com/insurancefaq/bigclass-6.html" target="_blank">保险咨询</a>
									<a class="top-website-link" href="http://xuexi.huize.com/insurancefaq/bigclass-7.html" target="_blank">险种咨询</a>
									<a class="top-website-link" href="http://xuexi.huize.com/insurancefaq/bigclass-8.html" target="_blank">网站相关</a>
									<a class="top-website-link" href="http://xuexi.huize.com/insurancefaq/bigclass-9.html" target="_blank">签证攻略</a>

								</dd>

								<dd>
									<a class="top-website-link" href="http://xuexi.huize.com/study/" target="_blank">
										<strong>保险资讯</strong>
									</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/list-1.html" target="_blank">新闻资讯</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/list-3.html" target="_blank">保险知识</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/list-2.html" target="_blank">保险规划</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/list-4.html" target="_blank">保险理财</a>
								</dd>

								<dd>
									<a class="top-website-link" href="http://xuexi.huize.com/study/studytag/" target="_blank">
										<strong>保险词条</strong>
									</a>

									<a class="top-website-link" href="http://xuexi.huize.com/study/studytag/tag-1.html" target="_blank">保险术语</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/studytag/tag-2.html" target="_blank">保险种类</a>

									<a class="top-website-link" href="http://xuexi.huize.com/study/studytag/tag-7.html" target="_blank">保险公司</a>
									<a class="top-website-link" href="http://xuexi.huize.com/study/studytag/tag-8.html" target="_blank">保险相关</a>
								</dd>


							</dl>

							<dl class="top-website-nav top-website-nav-last">
								<dt>
									<span class="f18 fc9">更多</span>
								</dt>

								<dd>
									<p>
										<a class="top-website-link" href="http://www.huize.com/about/About-About.html" target="_blank">关于慧择</a>
										<a class="top-website-link" href="http://www.huize.com/claims/" target="_blank">理赔报案</a>
									</p>
									<p>
										<a class="top-website-link" href="http://www.huize.com/product/list.html" target="_blank">用户评论</a>
										<a class="top-website-link" href="http://www.huize.com/baoxianpaiming/" target="_blank">产品排行</a>
									</p>
									<p>
										<a class="top-website-link" href="http://www.huize.com/demandanalysis/home" target="_blank">需求评测</a>
										<a class="top-website-link" href="//i.huize.com/MySafe/Member" target="_blank">会员等级</a>
									</p>
								</dd>


							</dl>
						</div>

					</div>
					<!--drop-menu-box end-->

				</div>

			</li>

			<li class="top-nav-menu-item top-nav-hottel-item ml10">
				<span class="hot-tel-title fc9">人工服务</span>
				<span class="hot-tel primary-color">4006 366 366</span>
			</li>



		</ul>
		<!--top-nav-menu-item end-->

	</div>
	
</div>
<!--top-nav-wrap-->