@charset "utf-8";

/*
 * 功能：huize.com - 慧择主站产品列表
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/03/15
*/

@import 'common/base';

@import 'public/topnav';
@import 'public/header';

@import 'helper/layout';
@import 'helper/badge';
@import 'helper/pagination';
@import 'helper/breadcrumb';
@import 'helper/buttons';
@import 'helper/list';
@import 'helper/iconfont';
@import 'helper/dropdown';
@import 'helper/form';
@import 'helper/media';
@import 'helper/checked';
@import 'helper/calendar';
@import 'helper/tag';
@import 'helper/tab';

@import 'product-list/list';
@import 'product-list/select-tag';
@import 'product-list/sidebar';

@import 'public/footer';

$sidebarWidth: 320px;
$sidebar-rank-Width: 190px;

.product-list-page {
  //页面布局
  .layout-primary {
    float: left;
    width: 100%;
  }

  .layout-inner-primary {
    padding-right: $sidebarWidth;
  }

  .layout-sidebar {
    float: left;
    width: $sidebarWidth;
    margin-left: -($sidebarWidth);
    @include minHeight(100px);
    .layout-inner-sidebar {
      padding-left: 30px;
    }
  }


//  产品排行榜
  .product-rank-list-box {
    .layout-primary {
      float: right;
    }
    .layout-inner-primary {
      padding-left: $sidebar-rank-Width;
      padding-right: 0;
    }

    .layout-sidebar {
      width: $sidebar-rank-Width;
      margin-right: -($sidebar-rank-Width);
      margin-left: 0;
      .layout-inner-sidebar {
        padding-right: 30px;
        padding-left: 0;
      }
    }
  }


//  产品推荐
  .hot-product-list {
    margin-right: -16px;
  }

  .hot-product-item {
    position: relative;
    float: left;
    width: 285.5px;
    margin-right: 16px;
    background: #FFF;
    .product-tag-ico {
      position: absolute;
      right: 10px;
      top: 0;
      line-height: 30px;
      color: #fff;
      text-align: center;
      font-size: 14px;
    }
  }

  .hot-product-thumbnails {
    display: block;
    img {
      height: 160px;
    }
  }
  
  .hot-product-info {
    padding: 15px 30px;
  }

  .hot-product-title {
    @include ell;
    a:hover {
      color: #2150a2;
      text-decoration: none;
    }
  }
  
//  浏览记录
  .view-history-scroll {
    margin-bottom: 60px;
  }

  .view-history-header {
    line-height: 28px;
    overflow: hidden;
  }

  .view-history-list {
    margin-right: -19px;
    margin-top: 13px;
  }
  .view-history-item {
    width: 283px;
    margin-right: 19px;
    border-top: 1px solid #f6ab1a;
  }

  .view-history-scroll-item {
    @include inlineBlock;
    border: 1px solid #ddd;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    background: #fff;
    font-size: 12px;
    margin-left: -1px;
    &:hover{
      color: #f6ab1a;
      text-decoration: none;
    }
  }

  .view-history-scroll-prev-disabled {
    cursor: not-allowed;
    background: #f0f0f0;
    color: #ccc;
  }

  .view-history-item-title{
    @include ell;
    width: 283px;
    font-size: 18px;
    a:hover {
      color: #2150a2;
      text-decoration: none;
    }
  }

  .view-history-item .product-pic {
    display: block;
    overflow: hidden;
  }

  .view-history-item img {
    display: block;
    height: 159px;
    @include transition(all 0.5s ease-out);
    &:hover {
      @include transform(matrix(1.04,0,0,1.04,0,0))
    }
  }
}






