@charset "utf-8";

/*
 * 功能：huize.com - 主站-注册登录页面
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/06/20
*/


@import 'common/base';

@import 'helper/layout';
@import 'helper/tab';
@import 'helper/buttons';
@import 'helper/form';
@import 'helper/checked';
@import 'helper/share';
@import 'helper/media';

@import 'public/footer';


.login-register-header {
  .header-text{
    position: relative;
    width: 145px;
    height: 75px;
    line-height: 75px;
    border-left: 1px solid #f0f0f0;
  }
}

.login-wrap {
  background:#306bcf url(#{$imghost}login-register/login-pic.png) no-repeat 50% 0;
  height: 591px;
}

.register-wrap {
  height:606px;
  background:#2151a3 url(#{$imghost}login-register/register-pic.jpg) no-repeat 50% 0;
}

.register-pwd-letter {
  margin-top: 5px;
  span {
    float: left;
    width: 33%;
    height: 16px;
    background: #eee;
    text-align: center;
    line-height: 16px;
    color: #aaa;
  }
  .mid-item { margin: 0 1px;}
  .pwd-active-1 {
    background: red;
    color: #fff;
  }
  .pwd-active-2 {
    background: #f6ab1a;
    color: #fff;
  }
  .pwd-active-3 {
    background: #63b418;
    color: #fff;
  }

}

.login-register-wrap{

  .login-register-form {
    float: right;
  }

  .login-register-tab-menu {
    background: #f9f9f9;
  }

  .hz-tab-menu-item a {
    color: #333;
    height: 57px;
    line-height: 57px;
    border-top: 3px solid #f9f9f9;
  }


  .input-text {
    width: 258px;
    vertical-align: middle;
  }

  .tab-container {
    padding: 30px 40px 20px;
  }

  .hz-tab-menu .hz-tab-menu-item{
    width: 50%;
    text-align: center;
  }

  .error-msg {
    color: #ff0000;
    margin-bottom: 10px;
  }
  .get-code-button{
    margin-left: 7px;
    width: 103px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0;
  }
}

//注册成功
.register-success {
  padding: 60px 0 100px;
}
.register-success .start-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 40px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  border: 2px solid #ff9933;
}







