@charset "utf-8";

/*
 * 功能：huize.com - 主站-专题（http://www.huize.com/zhuanti/）
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/06/15
*/
@import 'common/base';
@import 'public/header';
@import 'public/topnav';
@import 'helper/layout';


@import "helper/media";
@import 'helper/iconfont';
@import 'helper/breadcrumb';
@import 'helper/share';
@import 'helper/badge';
@import 'helper/tag';
@import 'helper/buttons';
@import 'helper/list';
@import 'helper/checked';
@import 'product-list/list';
@import 'public/footer';

$productMetaWidth : 258px;
a:hover{
    text-decoration: none
}
/* 主题 */


.special-type-s-list{
    position: absolute;
    bottom: 6px;left: 0;
}

.special-type-sidebar{
    float: left;
    width: 196px;
    height: 453px;
    padding-top: 7px;
    color:#fff;
    overflow: hidden;
    position: relative;
}
.special-type-txt{
    opacity: 0.8;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;

}

.special-type-img{
background-image: url('//img.huizecdn.com/hz/www/page/special/sprite1.png');
background-repeat: no-repeat;
display: inline-block;
background-position: 0 0;
width: 180px;
height: 190px;
margin-left: 64px;
}
.special-type-img2{
    background-position: 0 -190px;
}
.special-type-img3{
    background-position: 0 -400px;
}
.special-type-img4{
    background-position: 0 -600px;
}
.special-type-bn{
    float: left;
    width: 88px;
    line-height: 30px;

    text-align: center;
    color:#fff;
    margin: 0 0 5px 7px;
    display: inline-block;
    font-size: 15px;
    &:hover{
        opacity:0.7;
    }
}
.special-type-center{
    float: left;
    width: 595px - 40px;
    padding-left: 40px;
    height: 460px;
    background-color: #fff;
    position: relative;
    display: block;
    position: relative;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    h3{
        font-weight: normal;
    }

    img{
        position: absolute;
        bottom: 0;
        right: 0;
    }
    h3,p{
        position: relative;
        z-index: 10;
    }
}
.special-type-colum{
    float: left;
    overflow: hidden;
    width: 399px;
}
.special-type-list{
    display: inline-block;
    width: 173px;
    background-color: #fff;
    height: 210px;
    float: left;
    padding: 20px 12px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0 0 1px 2px;
    position: relative;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      &:after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
    span{
        display: block;
    }
    img{
        position: absolute;
        bottom: 0;
    }

}
.special-type-list:hover {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.special-type-center:hover{
      -moz-transform: scale(1, 1);
      -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.special-type-list:hover::after,.special-type-center:hover::after {
    opacity: 1;
}
.special-type-1{background-image: url('//img.huizecdn.com/hz/www/page/special/pic11.jpg');}
.special-type-2{background-image: url('//img.huizecdn.com/hz/www/page/special/pic12.jpg');}
.special-type-3{background-image: url('//img.huizecdn.com/hz/www/page/special/pic13.jpg');}
.special-type-4{background-image: url('//img.huizecdn.com/hz/www/page/special/pic14.jpg');}
.special-type-5{background-image: url('//img.huizecdn.com/hz/www/page/special/pic16.jpg');}
.special-type-6{background-image: url('//img.huizecdn.com/hz/www/page/special/pic17.jpg');}
.special-type-7{background-image: url('//img.huizecdn.com/hz/www/page/special/pic18.jpg');}
.special-type-8{background-image: url('//img.huizecdn.com/hz/www/page/special/pic19.jpg');}
.special-type-9{background-image: url('//img.huizecdn.com/hz/www/page/special/pic21.png');}
.special-type-10{background-image: url('//img.huizecdn.com/hz/www/page/special/pic22.jpg');}
.special-type-11{background-image: url('//img.huizecdn.com/hz/www/page/special/pic23.jpg');}
.special-type-12{background-image: url('//img.huizecdn.com/hz/www/page/special/pic24.jpg');}
.special-type-13{background-image: url('//img.huizecdn.com/hz/www/page/special/pic26.jpg');}
.special-type-14{background-image: url('//img.huizecdn.com/hz/www/page/special/pic27.jpg');}
.special-type-15{background-image: url('//img.huizecdn.com/hz/www/page/special/pic28.jpg');}
.special-type-16{background-image: url('//img.huizecdn.com/hz/www/page/special/pic29.jpg');}
/* 主题详细页 */
.special-br {

    height: 308px - 213px;
    padding: 213px 30px 0;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
.special-br img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 308px;
}
.special-main {
    width: 880px;
    float: left;
    margin-right: 30px;
}

.special-siderbar {
    width: 280px;
    overflow: hidden;
}

.special-tip {
    border: 1px #F0F0F0 solid;
    padding: 15px 25px 5px;
}

.special-txto {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    margin: 6px 0 10px;
}

.special-txtw-1,
.special-txtw-2,
.special-txtw-3 {
    float: left;
    width: 240px;
    height: 111px;
    padding: 0px 20px;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    p {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        text-align: center;
    }
}

.special-txtw-1 {
    background-color: #2151A3;
}

.special-txtw-2 {
    background-color: #21A367;
}

.special-txtw-3 {
    background-color: #499BA7;
}

.special-project {
    width: 220px;
    height: 296px;
    margin: 30px;
    padding: 0 15px;
    position: relative;

    overflow: hidden;
    float: left;
    h4,.primary-color{
        position: relative;
        z-index: 11;
    }
    .primary-color{
        text-align: right;
    }
}

.special-project-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 296px;
    width:250px
}

.special-txth {
    vertical-align: bottom;
}

.special-txtf {
    vertical-align: top;
    font-size: 48px;
    line-height: 1;
}

.special-project-con {
    height: 333px;
    border-left: 1px solid #eee;
    padding: 23px 20px 0 30px;
    float: left;
    font-size: 16px;
    width: 516px;
    position: relative;
    span{
        line-height: 29px;
    }
}

.special-project-img2 {
    position: relative;
    left: -31px;
    vertical-align: 2px;
}
.special-project-img3 {
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    margin:auto;
    z-index: 10;
}
.special-icon2 {
    color: #66CC33;
    font-size: 18px;
    margin-right: 10px;
    float: left;
}

.special-bn {

    width: 150px;



    line-height: 40px;
    position: absolute;
    left: 30px;
    bottom: 28px;
}
.special-list{
    li{
        width: 279px;
        height: 150px;
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;

    }
    img{
        width: 100%;
        height: 150px;
    }

}
.special-txtv{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.3);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3363370b,endColorstr=#3363370b);
   z-index: 10;



}

.special-bn2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;

    text-align: center;
    font-size: 16px;
    color:#fff;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 157px;
    line-height: 44px;
    height: 44px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
  .hz-product-item {
    position:relative;
    border: 1px solid #eee;
    margin-top: 10px;
    .button-view {
      padding: 0 50px;
    }
  }



  .reading-list {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid #f0f0f0;
    li {
      border-bottom: 1px solid #f0f0f0;
      padding-bottom: 10px;
      margin-bottom: 10px;
      a {
        &:hover {
          color: #2150A2;
          text-decoration: none;
        }
      }
    }

  }
.bg-b{
    background-color: #2151A3;
    .special-type-bn{
        background-color: #7191C8;
    }
}
.bg-g{
    background-color: #21A367;
     .special-type-bn{
        background-color: #41C98A;
    }

}
.bg-c{
    background-color: #499BA7;
     .special-type-bn{
        background-color: #68CCDB;
    }

}
.bg-p{
    background-color: #8D64A7;
     .special-type-bn{
        background-color: #980FF2;
    }

}

.special-banner-wrap{
    width: 1190px;
    height: 308px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    .jq-slide-edit{
        display: none;
    }
    .jq-slide{
        z-index: 10!important;
    }

}
.special-banner-con{
    display: block;

    position: relative;
    color:#fff;
    height: 308px;
    width: 1190px;
    color:#4a4a4a;

    img{
        position: absolute;
        left: 0;
        top: 0;
        height: 308px;
        width: 100%;
    }
    p{
        opacity:0.8;
        font-size: 18px;
        line-height: 30px;
        width: 464px;
    }
    .pos-r{
        left: 60px;
        top: 75px;
    }

}
.special-banner-wrap .slider-page {
    position: absolute;
    bottom: 35px;
    left: 51px;
    color:#4a4a4a;

    z-index: 100
}

.special-banner-wrap .slider-page .num {
    font-size: 24px;
    display: inline-block;
    *display: inline;
    *zoom:1;vertical-align: middle;
    padding: 0 10px;

}

.special-banner-wrap .slider-page .next-arrow,.special-banner-wrap .slider-page .pre-arrow {
    font-size: 28px;
    color: #fff;
    color: rgba(74,74,74,.4)
}

.special-banner-wrap .slider-page .next-arrow:hover,.special-banner-wrap .slider-page .pre-arrow:hover {
    text-decoration: none;
    color: rgba(74,74,74,1)
}

.special-banner-wrap .show-number {
    position: absolute;
    z-index: 500;
    left: 0;
    right: 0;
    bottom: 0;
    height: 135px;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#66000000', endColorstr='#66000000');
    background: rgba(0,0,0,.4)
}

.special-banner-wrap :root .show-number {
    filter: none
}

.special-banner-wrap .number-list {
    padding-top: 30px
}

.special-banner-wrap .number-item {
    width: 33%;
    text-align: center;
    font-family: Helvetica,sans-serif
}

.jq-slide-ul li{
    float: left
}
.f54{
    font-size: 54px
}
.ml2{
    margin-left: 2px
}
.mr2{
    margin-right: 2px;
}

.t0{
    top: 0px;
}
.l92{
    left: 92px;
}
.bdbeee {
    border-bottom: 1px solid #eee;
}

.bdeee {
    border: 1px solid #eee;
}

.ovh {
    overflow: hidden;
}

.mt122 {
    position: absolute;
    right: 10px;
    bottom: 3px;
    z-index: 11;
}
