<h5 class='prompt-title mt5 tac'>微信扫一扫分享到好友和朋友圈</h5>
<div class='prompt-content share-prompt pb10' id='sharePanel'>
    <p class='tac'><img src='//www.huize.com/api/programs/<%=pageId%>/qrcode' width='150'></p>
    <div class="pl10 pr10" style="border-top: 1px solid #f0f0f0;">
        <p class='pt15 pb5 bor-top'>分享更多</p>
        <% _.each(datas, function (item) { %>
        <a target='_blank' title="分享到<%=item.text%>" class='share-icon <%=item.shareIcon%> mr10' href='<%=item.apiurl%>?url=<%=shareUrl%>&sourceUrl=<%=shareUrl%>&summary=<%=item.summary%>&title=<%=item.title%>&content=utf-8&searchPic=false&<%=item.pic%>=<%=item.picture%>&appkey=3813649018'><%=item.text%></a>
        <% }); %>
        <a class="share-qq-icon share-icon mr10 bds_sqq" target="_blank" href="http://connect.qq.com/widget/shareqq/index.html?url=<%= qqSettings.url%>&title=<%= qqSettings.title%>&source=<%= qqSettings.site%>">QQ</a>
    </div>
</div>