@charset "utf-8";


/*
 * 功能：huize.com - 投保流程-表单填充
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';
.write-info-default,
.write-info-success,
.write-info-error {
  @include inlineBlock;
  vertical-align: middle;
  max-width: 400px;
  padding-right: 0;
  font-size: 12px;
  margin-left: 6px;
}


.input-text[name=email] ~ .insure-tips,
.long-input-text ~ .insure-tips,
.long-input-text ~ .write-info-default,
.long-input-text ~ .write-info-error,
.id-card-input ~ .write-info-default,
.id-card-input ~ .write-info-success,
.id-card-input ~ .write-info-error {
  max-width: 205px;
}

.write-info-default {
  color: #999;
}


.error-text,
.write-info-error {
  color: red;
}

.write-info-success {
  color: #7ea3e5;
}

.insure-step-page {
  .insure-step-primary,
  .insure-step-secondary {
    float: left;
    display: inline;
  }
  .insure-step-primary { width: 100%}
  .insure-step-secondary {
    margin-left: 30px;
    width: 300px;
    margin-left: -300px;
  }
  .insure-step-container {
    padding-right: 330px;
    .insure-write-tip {
      padding: 20px 30px;

      background-color: #fbfbfb;
      color: #666;
      font-size: 12px;
      .hz-bgpic-sprite {
        vertical-align: sub;
      }
    }
  }

  .select-contacts-link,
  .add-link,
  .upload-excel,
  .download-link,
  .save-link {
    font-weight: normal;
    &:hover {
      color: #f6ab1a;
      text-decoration: none;
    }
  }

  .hz-loading-wrap {
    background: #fff;
  }
  .insure-step-secondary .hz-loading-wrap {
    padding: 79px 0;
  }

  .info-title {
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;

    .delete {
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }
  }
  
  .urgency-toggle {
    .iconfont {
      font-weight: normal;
      margin-right: 5px;
      vertical-align: -2px;
    }

  }

  .person-write-info {
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
    .input-text {
      width: 150px;
      vertical-align: middle;
    }

    .dropdown-credentials {
      .input-select-text {
        width: 85px;
      }
    }
    .long-input-text,
    .input-text[name=email] {
      width: 376px;
    }

    .id-card-input {
      width: 250px;
    }
    .insure-bold {
      color: #333;
      font-weight: bold;
      padding: 0 3px;
    }

    .submit-button {
      padding: 0 35px;
    }

    input.Wdate {
      width: 160px;
      line-height: 30px;
      height: 30px;
    }
    .input-select-text {
      width: 140px;
      padding: 5px 20px 5px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background: #fff;
    }
    &.first-item {
      border-top: none;
      .info-title {
        display: none;
      }
    }
    .urgency-toggle {
      margin-bottom: 0;
      cursor: pointer;
    }


    .field-item {
      padding: 0 0 10px 0;
    }
    .label-item {
      @include inlineBlock;
      vertical-align: middle;
      width: 155px;
      padding-right: 25px;
      text-align: right;
      cursor: default;
    }

    .beneficiaries-list {
      width: 610px;
      .hz-table td {
        vertical-align: middle;
      }

      .info-list li {
        width: 50%;
      }
    }

    .list-table-wrap {

      border: 1px solid #dde9fd;

      .list-table-body{
        .input-text {
          width: 110px;
        }
      }

      .list-table-row {
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px solid #f0f0f0;
        .insure-tips {
          max-width: 100%;
          display: block;
          clear: both;
        }
        .hz-alert {
          margin-left: 10px;
          margin-bottom: 10px;
        }

        .eidt-item{display: none;}
        .insure-code{width:160px;}
        .insure-tel{width:106px;}
        .hz-dropdown .input-select-text {width:56px;}
        .insure-sex .input-select-text {width:25px;}
      }

      .list-table-row-editing {
        background: #f9f9f9;
        padding: 0;
        .cell-inner {
          line-height: 40px;
        }
        .close {
          &:hover {
            text-decoration: none;
            color: #f6ab1a;
          }
        }

        .text-item {
          display: none;
        }
        .eidt-item{display: block;}
        
        &:hover {
          background: #f0f0f0;
        }
      }

      .list-table-head .list-table-row {
        background: #f6f9fe;
        border-bottom: none;
        color: #666;
        font-size: 12px;

      }
      .list-table-row-last {
        border-bottom: none;
      }
      .cell {
        float: left;
      }

      .cell-inner {
        padding: 10px 5px;
//        line-height: 40px;
        @include breakWorld;
      }

      .hz-alert {
        clear: both;
      }
    }

    .insured-list .cell01 { width: 18%}
    .insured-list .cell02 { width: 12%}
    .insured-list .cell03 { width: 24%}
    .insured-list .cell04 { width: 8%}
    .insured-list .cell05 { width: 16%}
    .insured-list .cell06 { width: 12%}
    .insured-list .cell07 { width: 10%}

    .team-template-2 {
      .insured-list .cell01 { width: 11%}
      .insured-list .cell02 { width: 11%}
      .insured-list .cell03 { width: 12%}
      .insured-list .cell04 { width: 24%}
      .insured-list .cell05 { width: 8%}
      .insured-list .cell06 { width: 15%}
      .insured-list .cell07 { width: 12%}
      .insured-list .cell08 { width: 7%}


      .list-table-wrap .cell-inner {
        padding: 10px 5px;}
      .list-table-wrap .list-table-row .input-text {width: 56px;}
      .list-table-wrap .list-table-row .insure-code {width:160px;}
      .list-table-wrap .list-table-row .insure-tel {width:100px;}
      .list-table-wrap .list-table-row .hz-dropdown {width:80px;}
      .list-table-wrap .list-table-row .hz-dropdown .input-select-text {width:56px;}
      .list-table-wrap .list-table-row .insure-sex .input-select-text {width:25px;}
    }


    .insured-list .list-table-body {
      max-height: 305px;
      overflow: hidden;
      overflow-y: auto;
     // padding-bottom: 200px;

    }




  }

}

.person-write-info {
  .file-upload-item {
    vertical-align: top;
    .webuploader-pick{
      background: none !important;
      padding: 0 !important;
    }
    .pic-placeholder {
      position: relative;
      border: 1px solid #ddd;
      .delete-icon {
        position: absolute;
        right: -7px;
        top: -10px;
        background: #eee;
        border-radius: 999em;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        color: #999;
        font-size: 12px;
        cursor: pointer;
      }
      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}

//批量导入被保险人
.file-upload-start {
  margin-top: 145px;

  //覆盖控件样式
  .webuploader-pick {
    background: inherit;
    padding: inherit;
  }
  .webuploader-pick-hover {
    background: inherit;
  }
}

.file-upload-processing {
  margin-top: 145px;
  .des {
    margin: 0 0 15px 90px;
  }
  .progress-bar {
    background: #f9f9f9;
    border: 1px solid #ddd;
    width: 640px;
    margin:0 auto;
    position: relative;
    height: 38px;
    line-height: 38px;
  }
  .progress {
    position: absolute;height: 100%;
    width:70%;
    background: #2150a2;
    color:#f6ab1a;
    .text {
      padding-right: 10%;
    }
  }

}

.file-upload-complete {
  .hz-table > thead > tr > th {
    background: #f6f9fe;
    padding: 15px 8px;
    color: #666;
  }

  .hz-table > tbody > tr > td {
    @include breakWorld;
    padding: 20px 8px;
    font-size: 14px;
  }
}

//添加受益人弹窗
.beneficiary-dialog  {
  .input-text { width: 258px;}
  .Wdate{padding: 3px 10px; height: 30px; line-height: 30px;}
  .input-select .input-select-text {
    width: 246px;
    padding: 5px 24px 5px 8px;
  }
  .select-contacts-link {
    &:hover {
      color: rgb(246, 171, 26);
      text-decoration: none;
    }
  }
  .field-row{
    .placeholder-wrap,
    span.insure-span{
      vertical-align: middle;
    }
  }
}


//投保申明
.insure-des-dialog {
  line-height: 2;
  a {
    text-decoration: none;
    color: #2150a2;
    &:hover {
      text-decoration: underline;
    }
  }
}

//出行目的地
.country-select-box{
  @include clearfix;
}

