@charset "utf-8";


/*
 * 功能：huize.com - 投保流程-侧边
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.insure-step-page {
  .secondary-hot-product-head,
  .secondary-hot-product-body,
  .secondary-hot-product-foot {
    padding: 30px;
  }

  .secondary-hot-product-head {
    .hot-product-title a {
      display: block;
      &:hover {
        color: #2150A2;
        text-decoration: none;
      }
    }
  }



  .secondary-hot-product-body {
    border-top: 1px solid #e5e5e5;
    padding: 15px 30px;

    .protect-item {
      margin-top: 10px;
    }

    .hz-list-title {
      @include minHeight(1px);
    }
    .protect-item dt,
    .protect-item dd {
      @include inlineBlock;
      vertical-align: middle;
      width: 48%;
      color: #666;
      line-height: 2;
      font-size: 12px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .protect-item dd {
      width: 50%;
    }
  }

  .secondary-hot-product-foot {
    background: #fbfbfb;
    .list-sub-title {
      max-width: 69px;
      *width: 69px;
    }
    .hot-product-price {
      padding-top: 15px;
      line-height: 26px;
      border-top: 1px solid #e5e5e5;
    }
  }
}



