<div class="insure-step-page  pt20 pb20 f14 bgf0">
	<style>
	.upload-btn-box .hz-button {
		visibility: hidden;
	}

	.progress-area {
		position: absolute;
		background-color: #fff;
		height: 418px;
		width: 100%;
		left: 0;
		top: 0;
	}
	</style>
	<input type="hidden" name="" value="<%=insureNumber%>" />
	<!--详情页面标识-->
	<div class="layout clearfix pt30 pb30">
		<div class="insure-step-primary">
			<div class="insure-step-container">
				<div class="insure-write-tip">
                    <i class="hz-bgpic-sprite hz-bgpic-11"></i>
					为了保障您的权益，请填写真实有效的信息。您填写的内容仅供投保使用，对于您的信息我们会严格保密。
				</div>
				<div id="insureBox">
					<% include ../layout/_loading %>
				</div>
				<div class="upload-btn-box">
					<a class="hz-button hz-button-primary" href="javascript:;"  id="uploadExcel1" style="visibility:hiddens">上传Excel文档</a>
				</div>
				<!--health-body end-->
			</div>
		</div>
		<div class="insure-step-secondary">
			<% include ../layout/_loading %>
			<!--secondary-hot-product end-->
		</div>
		<!--insure-step-secondary end-->
	</div>
</div>