<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%include ../_meta%>
    <%locals.stylesheets=[
        cssPath+'plan.css'
    ]%>
    <% include ../_stylesheets %>
</head>
<body>
    <% include ../header/_header %>
    <!--下拉分类-->
    <%include ../header/_product-categories%>
    <!--product-category-box end-->
    <%- body %>
    <%include ../footer/_footer%>
    <%include ../scripts/_scripts%>
</body>
</html>