<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <%include ../_meta%>
    <%locals.stylesheets=[
        cssPath+'order.css'
    ]%>
    <% include ../_stylesheets %>
</head>
<body>
    <%include ../header/_shopcar-header%>
    <%- body %>
    <%include ../footer/_footer%>
    <%include ../scripts/_scripts%>
</body>
</html>