<!DOCTYPE html>
<html  lang="zh-cn">
<head>
    <% include ../_meta %>
    <%locals.stylesheets=[
      cssPath+'detail.css'
    ]%>
    <% include ../_stylesheets %>
</head>
<body>
    <% include ../header/_header %>
    <%- body %>
    <% include ../footer/_footer %>

    <!--product-category-box end-->
    <%include ../scripts/_scripts%>
</body>
</html>