<div class="copyright tac">
    <p class="foot-nav">
        <a href="//www.hzins.com/about/about-about.html" target="_blank" data-content="|"> 关于慧择</a>
        <a href="//www.hzins.com/about/news-0.html" target="_blank" data-content="|">慧择动态</a>
        <a href="//www.hzins.com/about/akhfw.html" target="_blank" rel="nofollow" data-content="|"> 客户服务</a>
        <a href="//www.hzins.com/about/job.html" target="_blank" rel="nofollow" data-content="|">诚聘英才</a>
        <a href="//www.hzins.com/about/partners.html" target="_blank" data-content="|">友情链接</a>
        <a href="//www.hzins.com/about/contact.html" target="_blank" rel="nofollow" data-content="|">联系我们</a>
        <a href="//www.hzins.com/about/about-flsm.html" target="_blank" rel="nofollow" data-content="|">法律声明</a>
        <a href="//www.hzins.com/map/" target="_blank" data-content="|">网站地图</a>
        <a href="//website.hzins.com/" target="_blank" data-content="|">保险网址</a>
        <a href="//ap.hzins.com/" target="_blank" data-content="|">推广联盟</a>
        <a href="//www.hzins.com/about/jubao.html" target="_blank">公众举报</a>
    </p>

    <p class="mt5">
        <span>保险业务经营许可证：260957000000800</span>
        <span class="pl10">深圳市慧择保险经纪有限公司：440301105759096</span>
        <span class="pl10">粤ICP备11097712号</span>
        <span class="pl10">Copyright &copy;2006-<script>document.write((new Date()).getFullYear())</script></span>
        <span class="pl10">慧择保险网</span>
        <span class="pl10">版权所有</span>
    </p>
</div><!--copyright end-->