@charset "utf-8";


/*
 * 功能：huize.com - 主分类
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-category-box {
  position: absolute;
  top: 125%;
  left: -160px;
  width: 1130px;
  padding: 25px 30px;
  border: 1px solid #ddd;
  background: #fff;
  font-family: $font-yahei;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 900;

  .arrow1,
  .arrow2 {
    position: absolute;
    top: -10px;
  }
  //菜单下拉箭头
  .arrow1 {
    @include arrow(top,10px,#ddd)
  }
  .arrow2 {
    top:-9px;
    @include arrow(top,10px,#fff);
  }

  .hz-category-list {
    @include inlineBlock;
    vertical-align: top;
    width: 492px;
  }

  .hz-category-list-01 {
    padding-right: 70px;
    margin-right: 70px;
    @include minHeight(420px);
    border-right: 1px solid #f0f0f0;
  }


  .hz-category-title {
    .hz-category-link {
      line-height: 1.7;
      color: #214d98;
      font-size: 18px;

    }
  }

  .hz-category-item {
    margin-bottom: 13px;
    padding-bottom: 16px;
//    @include minHeight(50px);
    border-bottom: 1px dotted #c8c8c8;
  }

  .last-category-item {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .hz-category-item {
    .hz-category-link {
      @include inlineBlock;
      vertical-align: top;
      width: 95px;
      @include ell;
      line-height: 20px;
      font-size: 14px;
      margin-top: 5px;
      &:hover {
        color: #2150A2;
        text-decoration: none;
      }
    }
  }

  .category-key-word {
    padding-top: 15px;
    margin-top: 15px;
    font-size: 14px;
    a {
      &:hover {
        color: #2150a2;
        text-decoration: none;
      }
    }
  }

}