@charset "utf-8";


/*
 * 功能：huize.com - 评论
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-comments-list {
  .hz-comment {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px dotted #ddd;
  }
}
.hz-comment {
  @include clearfix;
  .hz-comment-avatar {
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    background-color: #f1f1f1;

    img {
      width: 100%;
      border-radius: 50%;
    }
    .bg {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }

  }
  .hz-comment-avatar-empty {
    img {
      display: none;
    }
  }
  .hz-comment-meta {
    padding: 0 20px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .hz-comment-body {
    padding: 10px 0 10px 20px;
    overflow: hidden;
    font-size: 14px;
  }
  
  .hz-comment-reply  {
    position: relative;
    padding: 8px 0 0;
    .popover-content {
      padding: 18px;
      border: 1px solid #dde9fd;
      background: #f6f9fe;
    }
    .arrow {
      border-bottom-color: #dde9fd !important;

      left: 40px !important;;
    }
     .arrow2 {
       border-bottom-color: #f6f9fe !important;
       left: 40px !important;
    }
  }
}

.post-comment-page {
  .post-comment-area {
    width: 96%;
    @include minHeight(280px);
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2) inset;
    font-size: 16px;
  }

  .button-post-comment {
    padding: 0 40px;
    font-size: 16px;
  }
}
