@charset "utf-8";

/*
 * 功能：huize.com - 弹窗登录模块
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/29
*/
@import 'config';

@import 'helper/buttons';
@import 'helper/form';
@import 'helper/share';
@import 'helper/checked';

.dialog-login {
  .layui-layer-title {
    background-color: #f9f9f9 !important;
    height: 50px;
    line-height: 50px;
    border-bottom: none !important;
    font-size: 14px;
    color: #333 !important;
  }
  .layui-layer-title span {
    border-top: 3px solid #f9f9f9;
    height: 47px !important;
    cursor: pointer !important;
  }
  .layui-layer-title span.layui-layer-tabnow {
    border-left: none !important;
    border-right: none !important;
    border-top-color: #f6ab1a;
    font-weight: bold;
    cursor: default !important;
  }

  .diolog-login-content {
    padding: 30px 60px;
  }

  .input-text {
    width: 258px;
    margin-bottom: 10px;
  }

  .dialog-login-foot {
    padding: 10px 0;
    border-top: 1px solid #e5e5e5;
  }

  .error-msg {
    color: #ff0000;
    margin-bottom: 10px;
    
  }

  .message-input-text {
    width: 144px;
    vertical-align: top;
  }
  .get-code-button {
    margin-left: 7px;
    width: 103px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0;
  }

  .get-code-button.disabled {
    background: #f7f7f7;
    border: 1px solid #ddd;
    color: #333;
  }
  .others-login-box {
    @include inlineBlock;
    vertical-align: middle;
  }
}

.diolog-login-tab {
  @include clearfix;
  margin-bottom: 15px;
  border-bottom: 1px solid #f0f0f0;
  .diolog-login-tab-item {
    float: left;
    display: inline;
    line-height: 1;
    a {
      display: block;
      padding: 0 10px 15px;
      color: #333;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .diolog-login-tab-item-active {
    font-weight: bold;
    border-bottom: 2px solid #333;
  }
}

