@charset "utf-8";

/*
 * 功能：huize.com - 底部
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/29
*/
@import '../config';

.hz-footer-wrap {
  
  .hz-ensure-wrap {
    background: url("#{$imghost}footer-wrap-bg.png") repeat-x 0 0;
  }
  .hz-ensure {
    @include clearfix;

    background: url("#{$imghost}footer-bg.png") no-repeat 0 50%;
  }

  .hz-ensure-item05,
  .hz-ensure-item01 { width: 16%}
  .hz-ensure-item02,
  .hz-ensure-item03,
  .hz-ensure-item04 { width: 22%}
  .hz-ensure-item {
    float: left;
    a {
      display: block;
      line-height:0;
      font-size:0;
      height: 95px;
      overflow:hidden;
      &:hover {
        text-decoration: none;
      }
    }
  }


  .hz-foot-others {
    color: #696969;
  }

}

.hz-server {
  .footer-follow-info {
    color: #696969;
  }
  .footer-follow-info dl{
    @include inlineBlock;
    vertical-align: middle;
  }
}

.hz-friend-link {
  display: none;
}
.hz-friend-link-content {
  padding-left: 67px;
}

.hz-server {
  white-space: nowrap;
  .hz-server-content  {
    padding-left: 67px;
    a {
      color: #666;
      margin-right: 15px;
      line-height: 20px;
      &:hover {
        color: #2150a2;
        text-decoration: none;
      }
    }
    
  }
}




/*友情链接*/
.hz-friend-link {
  a {
    color: #666;
    line-height: 20px;
  }
  .friend-link-tab-list {
    @include clearfix;
    margin-bottom: 10px;
    .friend-link-tab-item {
      float: left;
      a {
        display: block;
        margin-right: 10px;
        padding: 0 5px;
      }
      &.active a,
      a:hover {
        background: #2151a3;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .friend-link-tab-pane a {
    @include inlineBlock;
    margin: 0 5px 5px 0;
    padding: 0 5px;
    transition:all 0.5s;
    &:hover {
      color: #2150a2;
      text-decoration: none;
    }
  }
}



.hz-copyright {
  padding: 25px 0;
  border-top: 1px solid #ececec;
}
.hz-copyright a,
.hz-copyright {
  a {
    *padding: 0 5px
  }

  a:after {
    content: attr(data-content);
    padding: 0 3px 0 5px;
    color: #d3d3d3;
  }

  a:hover {
    color: #2150a2;
    text-decoration: none
  }

  a:hover:after {
    text-decoration: none
  }
}

.hz-footer-style2 {
  .hz-copyright {
    color: #666;
    background: #fff;
    a {
      color: #666;
      background: #fff;

    }
  }

  .hz-copyright a a:after,.hz-copyright a:after {
    color: #666
  }

  .hz-copyright a a:hover,.hz-copyright a:hover {
    color: #000;
    text-decoration: none
  }

}




