@charset "utf-8";

/*
 * 功能：huize.com - 头部
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/
@import '../config';
@import './category';
@import '../helper/media';


$logo-width: 120px;
$logo-height: 75px;


.hz-header {
  position: relative;
  @include minHeight($logo-height+30);
  .hz-header-main {
    padding-top: 55px;
    margin-left: $logo-width+40;
  }
  .hz-header-hottel {
    min-width: 180px;
    _width:180px;
  }
  .header-hottel-num {
    color: #f6ab1a;
    font-size: 18px;
  }
}

.hz-header-hottel .iconfont {
  font-size: 42px;
  color: #ddd;
  line-height: 1;
}

/*logo*/
.hz-header-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: $logo-width;
  text-align: center;
  color: #666;
  a {
    display: block;
    width: $logo-width;
    height: $logo-height;
    text-indent: -999px;
    overflow: hidden;
    background: url(#{$imghost}hz-logo.png) no-repeat;
  }
}

.hz-header-search {
  position: relative;
  width: 285px;
  margin-left: 35px;
  top: -6px;
  .hz-header-search-area {
    position: absolute;
    width: 88%;
    height: 22px;
    line-height: 22px;
    padding: 6px 30px 6px 9px;
    font-size: 13px;
    border: 1px solid #ddd;
    border-right: 0;
    box-shadow: none;
  }

  .hz-search-ranking-link {
    position: absolute;
    right: 10px;
    top: 13px;
    z-index: 400;
    &:hover {
      text-decoration: none;
    }
  }

  .hz-header-search-button {
    position: absolute;
    right: -40px;
    width: 40px;
    height: 36px;
    cursor: pointer;
    border: 0 none;
    background-color: #2150a2;
    border-radius: 0;
    vertical-align: middle;
    z-index: 300;
    &:focus {
      outline: none;
    }
  }
}
.hz-header-mycount {
  position: absolute;
  right: 0;
  bottom: 20px;
  a {
    text-decoration: none;
    &:hover {
      color: #2150a2;
    }
  }

  .iconfont {
    color: #2150a2;
    margin-right: 8px;
    vertical-align: -2px;
  }

  .hz-header-cart-link {
    position: relative;
    @include inlineBlock;
  }

  .hz-header-cart-num {
    position: absolute;
    right: -10px;
    top: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 10px;
    border-radius: 999em;
    background: #f6ab1a;
    color: #fff;
    text-align: center;
  }
}
.hz-header-shopping {
  position: absolute;
  right:104px;
  bottom: 20px;
  .iconfont {
    color: #2150a2;
    margin-right: 8px;
    vertical-align: -2px;
  }
}
.hz-header-shopping-num{
  width: 12px;
  display: inline-block;
  background-color: #F6AB1A;
  text-align: center;
  color:#fff;
  margin-left: -3px;
  line-height: 12px;
  vertical-align: 7px;
  border-radius: 50%

}
/*主导航*/
.hz-main-nav {
  position: relative;
  font-family: $font-yahei;
  .main-menu-item {
    position: relative;
    float: left;
  }

  .main-menu-link {
    display: block;
    padding-right: 20px;
    font-size: 16px;
    padding-bottom: 25px;
    &:hover {
      text-decoration: none;
      color: #2150A2;
    }
  }


  .drop-main-menu-has {
    .iconfont {
      @include inlineBlock;
      vertical-align: middle;
      line-height: 1;
      font-size: 14px;
      color: #2150a2;
      @include transition(all,0.25s,linear 0.25s);
    }

    &.main-menu-link-hover,
    &:hover {
      text-decoration: none;
      .iconfont {
        @include transform(rotate(180deg));
      }

    }
  }

  .others-menu  {
    position: absolute;
    right: 0;
    top: 8px;
    .main-menu-link {
      line-height: 24px;
      font-size: 14px;
      font-weight: normal;
    }
    .iconfont {
      font-size: 12px;
    }

    .main-menu-link {
      padding: 0 10px 10px;
    }
  }

  .drop-main-menu-box {
    position: absolute;
    left: 0;
    top: 100%;
    background: #ffffff;
    min-width: 100%;
    z-index: 350;
    .drop-main-menu-list {
      border: 1px solid #ddd;
      text-align: center;
    }

    .drop-main-menu-item {
      a {
        display: block;
        padding: 10px 0;
        margin: 0 12px;
        border-bottom: 1px dotted #c8c8c8;
        &:hover {
          text-decoration: none;
          color: #2150A2;
        }
      }
    }
  }

  .arrow1,
  .arrow2 {
    position: absolute;
    top: -7px;
  }
  //菜单下拉箭头
  .arrow1 {
    @include arrow(top,7px,#ddd)
  }
  .arrow2 {
    top:-6px;
    @include arrow(top,7px,#fff);
  }
}


















