@charset "utf-8";


/*
 * 功能：huize.com - 产品对比
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';



/*职业搜索*/
.detail-job-search {
  background: #f0f0f0;
  .hz-breadcrumb,
  .hz-breadcrumb a { color: #666}

  .hz-table tr td,
  .hz-table tr th {
    vertical-align: middle;
    border-color: #f0f0f0;
  }

  .hz-table tr th {
    background: #f9f9f9;
  }

  .job-search-input {
    width: 380px;
    height: 22px;
    line-height: 22px;
  }
  .job-search-button {
    padding: 0 28px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: top;
  }
  .product-title {
    font-family: $font-yahei;
    a:hover {
      text-decoration: none;
      color: #2150a2;
    }
  }

  .highlight {
    color: #f6ab1a !important;
  }
}