@charset "utf-8";


/*
 * 功能：huize.com - 提交评论
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';
.post-comment-page {
  .comment-tag-left {
    width: 230px;
  }

  .comment-tag-content {
    width: 875px;
    border: none;
  }

  .product-title {
    font-family: $font-yahei;
    a:hover {
      color: #2150A2;
      text-decoration: none;
    }
  }
  .rate-opt-list  {
    .rate-opt-item {
      @include clearfix;
      padding: 8px 0;
      line-height: 26px;
    }
    .hz-star-icon {
      font-size: 26px;
      cursor: pointer;
    }
  }
}

