@charset "utf-8";


/*
 * 功能：huize.com - 我的特权图标
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-privilege-icon01 .iconfont{ color: #e86031;}
.hz-privilege-icon02 .iconfont{ color: #fe9900;}
.hz-privilege-icon03 .iconfont{ color: #5fcb30;}
.hz-privilege-icon04 .iconfont{ color: #e8bf5e;}
.hz-privilege-icon05 .iconfont{ color: #e05aa2;}
.hz-privilege-icon .iconfont {
  @include inlineBlock;
  vertical-align: middle;
  font-size: 26px;
  line-height: 25px;
  margin-right: 6px;
}
.hz-privilege-icon-off .iconfont {
  color: #ededed;
}