@charset "utf-8";
/*
 * 功能：huize.com - 侧边导航
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/03/07
*/
@import '../config';

/*===== 侧边工具条的样式 =====*/
.fixed-side-tool {
  position: fixed;
  _position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 2050;
  font-size: 12px;
}

.fixed-side-tool {
  .side-tool-icon {
    position: relative;
    display: block;
    width: 35px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background: #333;
    z-index: 2;
    &:hover {
      background-color: #f6ab1a;
      color: #fff;
      text-decoration: none;
    }
  }
  .side-tool-top,
  .side-tool-qdcode,
  .side-tool-feedback{
    color: #b5b5b5;
  }
  .side-tool-cart {
    color: #eba41b;
  }

}

/* 工具图标hover时的文字提示 */
.fixed-side-tool .side-hover-title {
  position: absolute;
  top: 16px;
  left: 35px;
  width: 80px;
  height: 36px;
  overflow: hidden;
  line-height: 36px;
  text-align: center;
  color: #fff;
  background-color: #f6ab1a;
  z-index: 1;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.fixed-side-tool .side-hover-qdcode {
  overflow: inherit;
  height: auto;
  width: auto;
  top: auto;
  left: -175px;
  display: none;
  bottom: 91px;
  background-color: #fff;
  box-shadow: -1px 0 2px 1px rgba(0,0,0,0.1);
  *width: 137px;
  *border: 1px solid #eee;

  .side-tool-qdcode-arrow{
    position: absolute;
    right: -5px;
    bottom: 10px;
    z-index: 1000;
    @include  arrow(right,6px,#fff)
  }
  .side-tool-qdcode-bd {
    line-height: 1.4;
    color: #333;
  }
  .side-tool-qdcode-hd img {
    width: 135px;
  }
}

.side-tool-cart { font-size: 24px;}
.side-tool-comparer-txt2,
.side-tool-serveic-txt,
.side-tool-cart-txt {
  display: block;
  width: 20px;
  height: 80px;
  line-height: 16px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  padding: 0;
  font-size: 14px;
  font-family: $font-yahei;
  color: #fff;
  .num-txt {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    border-radius: 999em;
    background: #f6ab1a;
  }
}



.side-tool-cart-border {
  position: absolute;
  top: 0;
  left: 5px;
  height: 134px;
  width: 25px;
  border: 1px solid #444;
  border-width: 1px 0;
}

.fixed-side-tool .side-hover-top {
  top: 84px;
}

.fixed-side-tool .side-hover-feedback {
  top: 42px;
}

.fixed-side-tool .side-hover-serveic {
  top: 150px;
}

.fixed-side-tool .side-hover-comparer {
  top:409px;
}

.wrap-tool-menu  {
  background:#333;
}
.wrap-tool-menu .side-hover-serveic{
  top:0;
}

.tool-function-item  {
  .side-tool-comparer-txt {
    color: #fff;
    text-align: center;
    width: 26px;
    height: 20px;
    line-height: 20px;
    border-radius: 999em;
    margin: 0 auto;
    background: #454545;
    color: #999;
  }
}

.fixed-side-tool .side-tool-function .side-tool-current,
.fixed-side-tool .side-tool-function .tool-function-item:hover {
  background-color: #f6ab1a;
  color: #fff;
  text-decoration: none;
  .side-tool-cart-border {
    border-color: #f6ab1a;
  }
}


.tool-function-item:hover .side-tool-comparer-txt,
.side-tool-current .side-tool-comparer-txt {
  color: #fff;
  background: #f6ab1a;
}

.tool-function-cart:hover .side-tool-icon {
  color: #fff;
}
.side-tool-current {
  .side-hover-title {
    display: block;
  }
  .side-hover-title {
    left: -80px;
  }
  .side-hover-qdcode {
    display: block;
    left: -175px;
    *left: -179px;
    z-index: 3;
  }
}

.side-tool-current .side-tool-icon {
  background-color: #f6ab1a;
  color: #fff;
  text-decoration: none;
}


.fixed-side-tool .side-tool-control {
  float: left;
  width: 35px;
  height: 100%;
  background-color: #333;
  zoom: 1;
  _text-align: center;
}

.fixed-side-tool .side-tool-function {
  position: relative;
  padding-top: 115px;
  .tool-function-cart {
    position: relative;
    margin-bottom: 2px;
    background: #333;
  }
  .tool-function-item {
    cursor: pointer;
  }
}

.fixed-side-tool .side-tool-other {
  position: absolute;
  bottom: 12px;
  left: 0;
  zoom: 1;
}

.fixed-side-tool .side-tool-other a {
  margin-bottom: 6px;
  _display: inline;
  _zoom: 1;
  _vertical-align: middle;
}

/*===== 侧边内容统一样式 =====*/
.fixed-side-tool .side-tool-cont-wrap {
  position: relative;
  float: left;
  width: 285px;
  height: 100%;
  z-index: 11;
  background-color: #f6f9fe;
}

.fixed-side-tool .side-tool-cont-wrap .side-tool-cont-hd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;
  overflow: hidden;
  line-height: 42px;
  text-align: center;
  color: #666;
  background: #f6f9fe;
  z-index: 5;
}

.fixed-side-tool .side-tool-cont-wrap .side-tool-cont-hd {
  .title {
    font-size: 14px;
    font-weight: normal;
    font-family: $font-yahei;
  }

  .side-tool-back {
    color: #999;
    font-family: 'simsun';
    width: 36px;
    text-align: center;
    &:hover {
      text-decoration: none;
      color: #F6AB1A;
    }
  }
}

.fixed-side-tool .side-tool-cont-wrap .side-tool-back {
  position: absolute;
  top: 0;
  left: 0;
}

.side-tool-tips-no-list {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
}

.fixed-side-tool .side-tool-cont-wrap .side-tool-cont-m {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  *position:relative;
  zoom: 1;
}


.fixed-side-tool .side-tool-tips-no-lis {
  padding-top: 200px;
  text-align: center;
  font-size: 14px;
  background: url(http://pic.c-ctrip.com/common/side_tool_bar/stool_no_item.jpg) no-repeat center 15px;
}

.fixed-side-tool .side-tool-cont-wrap .stool_retry .side-tool-tips-no-lis {
  color: #999999;
  background-image: url(http://pic.c-ctrip.com/common/side_tool_bar/stool_load_fail.jpg);
}

.fixed-side-tool .side-tool-item-list {
  width: 285px;
  overflow: hidden;
  zoom: 1;
  padding-top: 45px;
  .cart-product-box {

    padding-bottom: 100px;
  }
  .product-list {
    font-size: 12px;
    .product-content {
      overflow:hidden;
      zoom: 1;
    }
  }

  .product-item {
    position: relative;
    overflow: hidden;
    padding: 15px 20px 7px;
    margin-bottom: 10px;
    z-index: 1;
    //zoom: 1;
    border-bottom: 1px solid #dde9ff;
    background-color: #fff;
    .hz-close {
      position: absolute;
      right: 20px;
      top: 15px;
      line-height: 1;
      font-size: 10px;
      &:hover {
        text-decoration: none;
      }
    }
    .product-title {
      display: block;
      width: 85%;
      &:hover {
        color: #2150A2;
        text-decoration: none;
      }
    }
  }

  .fail-product-list {
    .invalid-product-item,
    .invalid-product-item .product-price {
      color: #ccc;
    }

    .invalid-product-item {
      border-bottom: 1px solid #f0f0f0;
    }

    .product-title {
      &,&:hover {
        color: #ccc;
      }
    }
  }
  .delete-all {
    color: #2150a2;
  }
}



.fixed-side-tool .side-tool-item-list .product-item a {
  *cursor: pointer;
}

.fixed-side-tool .side-tool-item-list .b_thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  overflow: hidden;
}


/*===== 遮罩层 =====*/
.fixed-side-tool .side-tool-masker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 285px;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5;
  z-index: 22;
}

/*===== alert弹出层 =====*/
.fixed-side-tool .side-tool-alert-pop {
  position: absolute;
  top: 200px;
  right: 15px;
  width: 160px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  color: #4D4D4D;
  border: 1px solid #DCDCDC;
  background-color: #FFFFFF;
  z-index: 25;
}

.fixed-side-tool .side-tool-alert-pop .alert-tips {
  padding-bottom: 20px;
  text-align: left;
}

.feedback-area-wrap .placeholder-text {
  line-height: 1.6 !important;
}

.fixed-side-tool .side-tool-alert-pop button {
  height: 27px;
  overflow: hidden;
  margin: 0 5px;
  padding: 0 15px;
  font-weight: bold;
  font-size: 12px;
  border: 1px solid #0055AA;
  border-radius: 3px;
  box-shadow: 0 1px 0 #CCCCCC;
  cursor: pointer;
}

.fixed-side-tool .side-tool-alert-pop .side-tool-btn-ok {
  color: #FFFFFF;
  background-color: #2277CC;
}

.fixed-side-tool .side-tool-alert-pop .side-tool-btn-cannel {
  border-color: #D1D1D1;
  color: #333333;
  background-color: #FCFCFC;
}

/*===== 删除过程中的loading图 =====*/
.fixed-side-tool .side-tool-loading-pop {
  position: absolute;
  top: 50%;
  right: 0;
  width: 180px;
  height: 48px;
  overflow: hidden;
  margin-top: -32px;
  z-index: 26;
}

.fixed-side-tool .side-tool-loading-pop img {
  float: left;
  margin-right: 10px;
}

.fixed-side-tool .side-tool-loading-pop strong {
  float: left;
  height: 48px;
  overflow: hidden;
  line-height: 48px;
  font-size: 16px;
  color: #FFFFFF;
}

/*===== 删除失败 =====*/
.fixed-side-tool .side-tool-waring-pop {
  position: absolute;
  top: 50%;
  right: 0;
  width: 200px;
  height: 60px;
  overflow: hidden;
  margin-top: -32px;
  z-index: 26;
}

.fixed-side-tool .side-tool-waring-pop img {
  float: left;
  margin-right: 10px;
}

.fixed-side-tool .side-tool-waring-pop strong {
  float: left;
  padding-top: 5px;
  height: 55px;
  overflow: hidden;
  line-height: 25px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: normal;
}


.site-tool-item-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding-bottom: 20px;
  background: #f6f9fe;
  z-index: 500;
  .tool-item-footer-meta .num-item {
    color: #f6ab1a;
  }
}

.site-warn-info {
  padding: 10px 15px;
  background: #fff9ee;
  color:#333;
  border-top: 1px solid #ffead2;
  border-bottom: 1px solid #ffead2;
  .iconfont {
    color: #ff5500;
    font-size: 18px;
  }
}

.side-tool-feedback-content {
  width:100%;
  padding: 45px 15px 0;
}
.side-tool-feedback-area {
  border: 1px solid #ddd;
  width: 246px;
  padding: 5px;
  margin-bottom: 5px;
  line-height: 1.8;
  color: #999;
  @include minHeight(200px)
}


.side-tool-cont-m::-webkit-scrollbar {
  width: 6px
}

.side-tool-cont-m::-webkit-scrollbar-track {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: transparent
}

.side-tool-cont-m::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #ccc;
}

//十周年红包入口临时样式
.view168-link {
  position: absolute;
  bottom: -100px;
  display: block;
  width: 75px;
  height: 86px;
  background: url(//img.huizecdn.com/hz/www/page/index/0730.png) no-repeat 0 0;
  right: -1px;
}

//兼容老站样式 全部重构后可去掉
.paln-ban  {

  .lh28 { line-height: 28px;}
  .lh24 { line-height: 24px;}
  .lh18 { line-height: 18px;}
 
}
.hz-wrapper{
   .lh18{line-height:18px;}
  .lh20{line-height:20px;}
  .lh22{line-height:22px;}
  .lh24{line-height:24px;}
  .lh26{line-height:26px;}
  .lh28{line-height:28px;}
  .lh30{line-height:30px;}
  .display { display: none;}
}