@charset "utf-8";

/*
 * 功能：huize.com - 工具条
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/
@import '../config';
@import './privilege-icon';
@import './grade';

$topheight: 28px;

.top-nav-wrap {
  height: $topheight;
  line-height: $topheight;
  .top-nav {
    position: relative;
    z-index: 500;
  }

  .top-nav-regist-link {
    color: #2150A2;
    margin-left: 5px;
  }

  .top-nav-userinfo-item {
    position: relative;
  }

  .top-nav-userinfo-block {
    border-bottom: 1px solid #dde9fd;
    &.last-item {
      border-bottom: none;
    }
  }

  .top-nav-menu {
    position: absolute;
    right: 0;
    top: 0;
    .menu-item-separator,
    .top-nav-menu-item {
      float: left;
      position: relative;
      z-index:5000;
    }

    .menu-item-separator {
      padding: 0;
      font-size: 0;
      line-height: 0;
      height: 12px;
      margin-top: 9px;
      border-left: 1px solid #ccc;
    }

    .item-count {
      padding: 0 3px;
      color: $primary-color;
    }
  }

  .top-nav-help-link, .top-nav-menu-link {
    display: block;
    padding: 0 10px;
  }

  .top-nav-menu-link {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    &:hover {
      text-decoration: none;
      background: #fff;
    }
  }
  
  .top-nav-hottel-item {
    margin-left: 10px;
    .hot-tel-title {
      @include inlineBlock;
      vertical-align: top;
    }
    
    .hot-tel {
      font-family: Arial,sans-serif;
      font-size: 18px;
      margin-left: 15px;
    }
  }



  .top-nav-menu-icon {
    @include inlineBlock;
    vertical-align: middle;
    line-height: 1;
    margin-top: -3px;
    font-size: 19px;
    color: #0477b9;
  }

  .arrow-icon {
    @include inlineBlock;
    @include transition(all,.25s,linear.25s);
    color: #999;
  }

  .top-nav-menu-item-hover  {
    .top-nav-menu-link {
      margin-top: 0;
      border-color: #FFF;
      background: none;
      box-shadow: none;
      text-decoration: none;
      color: #2150a2;
    }

    &.top-nav-userinfo-item,
    &.top-nav-safe-item,
    &.top-nav-mobile-item,
    &.top-nav-webnav-item {
      .top-nav-menu-link {
        position: relative;
        margin-top: -1px;
        *margin-top: 0;
        border: 1px solid #dde9fd;
        border-bottom: none;
        background: #fff;
        box-shadow: 1px -3px 4px 0 rgba(0, 0, 0, 0.2);
        z-index: 320;
        .arrow-icon {
          @include transform(rotate(180deg));
        }
      }
    }



  }
  


  .child-list-item a {
    display: block;
    padding: 0 10px;
    &:hover {
      background: #f6f9fe;
      text-decoration: none;
    }
  }


  .drop-menu-item-body {
    position: absolute;
    left: 0;
    top: $topheight;
    border: 1px solid #dde9fd;
    z-index: 310;
    background: #fff;
    min-width:98%;
    box-shadow:1px 1px 5px 0px rgba(0,0,0,0.2);
  }

  .drop-menu-footer {
    padding-top: 20px;
    border-top: 1px solid #dde9fd;
  }
}


.top-nav-userinfo-item .drop-menu-item-body,
.top-nav-favorite-item .drop-menu-item-body,
.top-nav-mobile-item .drop-menu-item-body {
  padding:20px;
  width: 338px;
  line-height: 1.5;
}

.top-nav-mobile-item .drop-menu-item-body {
  width: 300px;
  font-family: $font-yahei;
}


.top-nav-webnav-item .drop-menu-item-body {
  width: 1190px;
  left: -918px;
}

.top-nav-website-box {
  line-height: 2;
  padding: 20px 30px;
  .top-website-nav {
    @include inlineBlock;
    @include minHeight(150px);
    vertical-align: top;
    margin-right: 35px;
    padding: 10px 25px 10px 0;
    border-right: 1px solid #f0f0f0;
  }
  dt {
    margin-bottom: 3px;
    a {
      color: #2150a2;
      text-decoration: none;
    }
  }
  .top-website-link {
    font-size: 14px;
    margin-right: 12px;
    &:hover {
      color: #2150a2;
      text-decoration: none;
    }
  }
  
  .top-website-nav-last {
    border-right: none;
    margin-right: 0;
    padding-right: 0;
  }
}


.top-nav-android-icon,
.top-nav-apple-icon {
  font-size:20px;
  color: #707070;
  margin-right: 8px;
}

.top-nav-android-icon {
  color: #63c323
}

.top-nav-favorite-item .drop-menu-item-body {
  padding-top: 0;
  .top-nav-product-list {
    margin-bottom: -1px;
  }
}

.top-nav-product-item {
  @include clearfix;
  border-bottom: 1px dotted #c8c8c8;
  padding-bottom:20px;
  margin-top: 20px;
  .pic {
    padding: 0 10px;
  }
  .product-title {
    width: 175px;
    a:hover {
      color: #2150a2;
      text-decoration: none;
    }
  }
  .product-info {
    text-align: right;

  }
  .price-item {
    font-weight: bold;
    color: $primary-color;
  }

  .delete-icon {
    &:hover {
      text-decoration: none;
      color: #f6ab1a;
    }
  }
}

.top-nav-product-empty-item {
  padding: 60px 0;
  text-align: center;
  color: #666;
  font-size: 14px;
}








