<div class="order-checkout-page pb20 bgf0">
    <div class="layout pb40 clearfix pt25 pb30">


        <div class="order-checkout-meta">
            <a href="/orders/payment/change-settlement?orderNum=<%= data.orderNum%>" class="fr pt5 f16 primary-link">返回修改</a>
            <h2 class="pb25 f18">转账汇款</h2>
        </div>

        <div class="p30 f14 bgfw">
            <h3 class="f14 fb pb15">线下支付流程</h3>
            <ol class="lh20">
                <li class="mb10">
                    到各银行网点进行转账汇款时，请在转账汇款单的“用途”或“款项来源”处注明<span class="secondary-color">投保人姓名或慧择会员名</span>，须保证字迹清晰。
                </li>
                <li class="mb10">
                    收到银行付款回单后，将付款<span class="secondary-color">回单传真至0755-33335869</span>，传真后<span class="secondary-color">拨打电话4006-366-366</span>与客服<span class="secondary-color">确认传真是否收到</span>。
                </li>
                <li>
                    或将付款回单<span class="secondary-color">扫描后发送kefu#huize.com邮箱</span>（请将#改为@），邮件头为：付款回单+会员账号或投保单号，客服在收到后30分钟内邮件回复确认，如30分钟内没有收到确认邮件请
                    拨打电话确认是否收到。
                </li>
            </ol>

            <p class="pt30"><strong>中国工商银行转账汇款用途一栏填写范例：</strong></p>

            <p class="mt20 mb30"><img src="//img.huizecdn.com/hz/www/page/pay-invoice.png" alt=""/></p>

            <table class="bankcard-table" width="100%">
                <thead>
                <tr>
                    <th class="first-row">银行名称</th>
                    <th>账号</th>
                    <th>开户人</th>
                    <th>开户行</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td class="first-row">
                        <img  src="//img.huizecdn.com/com/bank/a90.gif">
                    </td>
                    <td>
                        4000 0224 2920 0139 865
                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>工商银行深圳分行南油支行</td>
                </tr>
                <tr>
                    <td class="first-row">
                        <img src="//img.huizecdn.com/com/bank/95599logo.gif">
                    </td>
                    <td>
                        41014 2000 4001 9952
                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>农业银行深圳分行海晖支行</td>
                </tr>
                <tr>
                    <td class="first-row">
                        <img src="//img.huizecdn.com/com/bank/bank_jsyh2.gif">
                    </td>
                    <td>
                        7536 5826 2134
                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>中国银行深圳内环支行</td>
                </tr>
                <tr>
                    <td class="first-row">
                        <img src="//img.huizecdn.com/com/bank/boclogo.gif">
                    </td>
                    <td>
                        4420 1519 0000 5250 8848
                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>建设银行深圳分行南油支行</td>
                </tr>
                <tr>
                    <td class="first-row">
                        <img src="//img.huizecdn.com/com/bank/zhongxin.gif">
                    </td>
                    <td>
                        7441 0101 8260 0193 422
                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>中信银行深圳分行营业部</td>
                </tr>
                <tr class="last-item">
                    <td class="first-row">
                        <img src="//img.huizecdn.com/com/bank/cmblogo.gif">
                    </td>
                    <td>
                        755 9188 0051 0919

                        <p class="secondary-color pt5">
                            (在1-3个工作日到账)
                        </p>
                    </td>
                    <td>深圳市慧择保险经纪有限公司</td>
                    <td>招商银行深圳分行南油支行</td>
                </tr>
                </tbody>
            </table>


            <p class="pt30 pb10"><strong>特别说明：</strong></p>

            <ol class="lh20">
                <li>请尽量不要跨行转账，因到帐时间的延后会影响您的投保单生效时间；如投保比较急，您可以加急汇款。</li>
                <li>如您的付款凭证清晰且来电确认过，客服人员会在到账后为您办理。</li>
                <li>如您未来电告知付款信息、付款凭证不清晰或未标明投保单号，须等待我们手工与各银行对账时与您确认。您的保障最早在确认后的次日零时生效。</li>
                <li>为了保证您能及时投保完成，我们建议您提前购买支付，避免因对账问题影响到您的起保时间。</li>
            </ol>
        </div>

    </div><!--layout end-->

</div><!--page end-->