<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>慧择保险网-网上买保险推荐选择!</title>
    <meta name="keywords" content="保险,买保险,保险网,网上投保,在线投保,网络保险">
    <meta name="description" content="慧择保险网是一个综合网络保险平台，提供数十家全国知名保险公司产品网上投保，专业、诚信，是您可以信赖的保险网，买保险就上慧择网！">
    <link rel="canonical" href="http://www.huize.com" />
    <link rel="shortcut icon" type="image/x-icon" href="//images.hzins.com/short/hzh5/favicon.ico?v=20160406">
    <link rel="apple-touch-icon" href="//images.hzins.com/short/hzh5/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-title" content="慧择保险网">
    <meta name="applicable-device" content="mobile">
       <style>
@media only screen and (min-width: 320px) {
    html {
        font-size:50px
    }

    body {
        font-size: 12px
    }
}

@media only screen and (min-width: 360px) {
    html {
        font-size:56.25px
    }

    body {
        font-size: 13.5px
    }
}

@media only screen and (min-width: 375px) {
    html {
        font-size:58.59px
    }

    body {
        font-size: 14.06px
    }
}

@media only screen and (min-width: 384px) {
    html {
        font-size:60px
    }

    body {
        font-size: 14.4px
    }
}

@media only screen and (min-width: 393px) {
    html {
        font-size:61.41px
    }

    body {
        font-size: 14.74px
    }
}

@media only screen and (min-width: 414px) {
    html {
        font-size:64.69px
    }

    body {
        font-size: 15.53px
    }
}

@media only screen and (min-width: 480px) {
    html {
        font-size:75px
    }

    body {
        font-size: 18px
    }
}

@media only screen and (min-width: 540) {
    html {
        font-size:84.375
    }

    body {
        font-size: 20.25
    }
}

@media only screen and (min-width: 640px) {
    html {
        font-size:100px
    }

    body {
        font-size: 24px
    }
}

@media only screen and (min-width: 720px) {
    html {
        font-size:112.5px
    }

    body {
        font-size: 27px
    }
}

@font-face {
    font-family: hzins;
    src: url(//static.huizecdn.com/css/hz/touch/fonts/iconfont.eot);
    src: url(//static.huizecdn.com/css/hz/touch/iconfont.eot?#iefix)format("embedded-opentype"),url(//static.huizecdn.com/css/hz/touch/fonts/iconfont.woff)format("woff"),url(//static.huizecdn.com/css/hz/touch/fonts/iconfont.ttf)format("truetype"),url(//static.huizecdn.com/css/hz/touch/iconfont.svg#iconfont)format("svg");
    font-weight: 400;
    font-style: normal
}

a {
    text-decoration: none;
}
* {margin: 0;padding: 0}
.iconfont,[class*=" ui-icon-"]:after,[class*=" ui-icon-"]:before,[class^=ui-icon-]:after,[class^=ui-icon-]:before {
    font-family: hzins;
    font-style: normal;
    cursor: default;
    -webkit-font-smoothing: antialiased
}

.ui-round-icon {
    display: inline-block;
    padding: .04rem;
    width: .24rem;
    height: .24rem;
    line-height: .24rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 50%
}

.ui-icon-success:before {
    content: "\F049";
}

.ui-icon-rarrow:after, .ui-icon-right:before {
    content: "\F036";
}
            html { background: #FFF;text-align: center; }
            .ui-icon-success {
                    color: #43c308;
                    font-size: 0.75rem;
                    vertical-align: -7px;
                    line-height: 0.6rem;
                    margin-right: 0.25rem
                }
        </style>
</head>
    <body>
        <h3 style="font-size: 0.32rem;font-weight: bold;color: #4a4a4a;padding-top: 0.5rem;"><i class="ui-icon-success" title="成功"></i>支付成功</h3>
        <a href="javascript:;"  onclick ="GoMySafe();"  style="display:inline-block;color:#397ff4;padding: 0.3rem 0 0.5rem;"  >
            <span style="font-size:0.24rem;">进入我的慧择</span> <span class="ui-icon-rarrow" style=" font-size: 0.20rem;vertical-align: 1px"></span>
        </a>

        <p style="font-size:0.24rem;color:#4a4a4a;padding-bottom:0.3rem;">扫码关注慧择</p>
        <img style="border:1px solid #efeff4;border-radius:4px;padding: 5px;" src="//img.huizecdn.com/hz/www/page/wfw-qcode.png"  alt="慧择微信二维码">

    </body>
    <script type="text/javascript">
    function GoMySafe (){
         window.location.href= 'http://m.huize.com/mysafe';
    }
    </script>
</html>
