       <% 
        var question =locals.productGuide.question||'';
        var answer =locals.productGuide.answer||'';
       %>
        <div class="layout-sidebar">
            <div class="layout-inner-sidebar">
                <div>
                    <h3 class="f16 fb mb20"><%-question%></h3>
                    <div class="lh20 f14 clearfix">
                    <%-answer%>
                    </div>

                    <!--<div class="pt30">
                        <a class="hz-button hz-button-block" href="javascript:;">1分钟快速评测</a>
                    </div>-->
                </div>


                 <!--<div class="">

                    <ul class="reading-list f14">
                        <li>
                            <a href="javascript:;" target="_blank">购买境外旅行保险时哪些保障是必须的？</a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">购买意外保险，还有必要购买境外旅行保
                                险吗？</a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">挑选境外旅行保险时有什么需要特别注意
                                的事项吗？</a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">境外旅行保险的保障期限选择？</a>
                        </li>
                        <li>
                            <a href="javascript:;" target="_blank">购买境外旅行保险时有必要选择救援服务
                                吗？</a>
                        </li>
                    </ul>
                </div>-->
            </div>

        </div>