<div class="comparer-page pt30 pb30 bgf0"><!--产品对比页面标识-->


    <div class="layout pb40 clearfix ">

        <div class="comparer-page-content bgfw">
            <!--置顶table-->
            <table class="hz-table hz-table-bordered fn-hide fixed-top-table f14" id="compareFloat" style="">
                <colgroup><col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">

                </colgroup><thead>
            <tr>
                <th class="tar f12">产品名称</th>
                <td>
                    <h2 class="product-title fb f14"><a href="#">慧择网-平安 旅行意外保险 D款</a></h2>
                    <p class="price-item pt10 pb10" style="color: #f6ab1a">150.00</p>
                    <div class="product-meta">
                        <a class="hz-button " href="javascript:;">查看详情</a>

                        <span class="ml15 f12"><i class="iconfont f18 mr10"></i><a href="#">加入购物车</a></span>
                    </div>

                    <a class="close iconfont" href="javascript:;"></a>
                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </thead>

            </table>

            <table class="hz-table hz-table-bordered" id="comparePanel">
                <colgroup><col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">

                </colgroup><thead >
            <tr>
                <th class="tar">产品名称</th>
                <td>
                    <a href="http://www.hzins.com/brand/detail/45">
                        <img src="http://files.hzins.com/images/short/public/product/7/7c/7cf/7cfb/d721c94ed23872a46e532c1924e0.gif" height="45">
                    </a>

                    <h2 class="product-title lh15 mt10 f14 fb"><a href="#">慧择网-平安 旅行意外保险 D款</a></h2>
                    <p class="price-item mt15 mb15">150.00</p>
                    <div class="product-meta">
                        <a class="hz-button" href="javascript:;">查看详情</a>
                        <span class="ml20"><i class="iconfont f18 mr10"></i><a href="#">加入购物车</a></span>
                    </div>

                </td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
            </thead>
                <tbody>

                <tr>
                    <th class="tar">承保年龄</th>
                    <td>0-80周岁</td>
                    <td>1-80周岁</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">承保职业</th>
                    <td>0-80周岁</td>
                    <td>1-80周岁</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">承保期限</th>
                    <td>1天</td>
                    <td>1天</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">限购份数</th>
                    <td>1份</td>
                    <td>1份</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

            <table class="hz-table hz-table-bordered">
                <colgroup><col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup><thead>
            <tr>
                <th class="toggle-haed" colspan="5">
                    <a class="fr" href="javascript:;"><i class="iconfont f18 fc9"></i></a>
                    意外伤害及医疗保障
                </th>
            </tr>
            </thead>

                <tbody>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

            <table class="hz-table hz-table-bordered">
                <colgroup><col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup><thead>
            <tr>
                <th class="toggle-haed" colspan="5">
                    <a class="fr" href="javascript:;"><i class="iconfont f18 fc9"></i></a>
                    紧急救援保障
                </th>
            </tr>
            </thead>

                <tbody>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">意外身故/伤残</th>
                    <td>5万</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>

            <table class="others-info hz-table hz-table-bordered">
                <colgroup><col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                    <col width="20%">
                </colgroup><thead>
            <tr>
                <th class="toggle-haed" colspan="5">其他信息</th>
            </tr>
            </thead>

                <tbody>
                <tr>
                    <th class="tar">承保区域</th>
                    <td>
                        北京市、上海市、天津市、重庆市、安徽省、福建省、甘肃省、广东省、广西壮族自治区、贵州省、海南省、河北省、河南省、黑龙江省、湖北省、湖南省、吉林省、江苏省、江西省、辽宁省、内蒙古自治区、宁夏回族自治区、青海省、山东省、山西省、陕西省、四川省、新疆维吾尔自治区、云南省、浙江省。
                    </td>
                    <td>北京、上海、江苏、浙江、宁波、安徽、青岛、福建、苏州。</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">不承保</th>
                    <td>本产品不承保自驾车旅游人士。</td>
                    <td>不承保被保险人从事潜水、跳伞、攀岩运动、探险活动、摔跤比赛、特技表演等高风险运动。</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">保单形式</th>
                    <td>电子保单</td>
                    <td>5万</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <th class="tar">保险条款</th>
                    <td><a href="#" class="primary-link" target="_blank">点击查看</a></td>
                    <td><a href="#" class="primary-link" target="_blank">点击查看</a></td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<script type="text/javascript">
var restrictRules=<%-data%>
</script>