<div class="comparer-page pt30 pb30 bgf0"><!--产品对比页面标识-->


    <div class="layout pb40 clearfix ">

        <div class="comparer-page-content bgfw" id="planscontent">
            <% include ../layout/_loading%>
            <!--置顶table-->
            <table class="hz-table hz-table-bordered fn-hide fixed-top-table f14" id="compareFloat" style="">
                <colgroup>
                </colgroup>
                <thead>
            </thead>

            </table>

            <table class="hz-table hz-table-bordered" id="comparePanelProduct">
                <colgroup>

                </colgroup>
                <thead>

                </thead>
                <tbody id="genbodys">
                </tbody>
            </table>

        </div>

    </div>

</div>
<% include ../layout/header/_product-categories%>