<!DOCTYPE html>
<html lang="zh-cmn">
	<head>
		<%include _meta%>		
		<title><%=title%></title>
		<link rel="stylesheet" href="<%=cssUrl%>main.css">
		<%include _style%>
	</head>
	<body>
		<%- body %>
		<%include _footer%>
		<%include _ga%>
	</body>
</html>