<!DOCTYPE html>
<html class="w1350" lang="zh-cmn">
<head>
    <% include ../_meta %>
    <%locals.stylesheets=[
    cssHost+'css/hz/www/page/detail.css'
    ]%>
    <% include ../_stylesheets %>
</head>
<body>
<% include ../header/_header %>
<%- body %>
<% include ../footer/_footer %>

<!--product-category-box end-->
<%include ../scripts/_scripts%>
</body>
</html>