<!DOCTYPE html>
<html lang="zh-cmn">
<head>
    <%include ../_meta%>
    <%locals.stylesheets=[
    cssHost+'css/hz/www/page/order.css'
    ]%>
    <% include ../_stylesheets %>
</head>
<body>
<%include ../header/_shopcar-header%>
<%- body %>
<%include ../footer/_footer%>
<%include ../scripts/_scripts%>
</body>
</html>