<div class="order-header-wrap">
    <div class="order-header  clearfix layout">
        <div class="order-header-logo fl">
            <a href="//www.huize.com" title="慧择保险网">
                <img src="//img.huizecdn.com/hz/www/page/hz-order-logo.png" height="82" alt="慧择保险网"/>
            </a>
        </div>
        <div class="hz-step fr">
            <div class="hz-step-box">
                <ol class="hz-step-list">
                    <li class="hz-step-item hz-step-item-active"><i class="dot">1</i><span>购物车</span></li>
                    <li class="hz-step-item hz-step-item-active"><i class="dot">2</i><span class="hz-step-text" style="right: -10px;">投保告知</span></li>
                    <li class="hz-step-item hz-step-item-active"><i class="dot">3</i><span class="hz-step-text" style="right: -22px;">填写投保信息</span></li>
                    <li class="hz-step-item"><i class="dot">4</i><span class="hz-step-text" style="right: -17px;">确认并支付</span></li>
                    <li class="hz-step-item last-item"></li>
                </ol>
            </div>
        </div>
        <!--step end-->
    </div>
    <!--order-header end-->
</div>