<%include _top%>
<div class="hz-header-wrap">
    <div class="hz-header layout">
        <%include _logo%>
        <div class="hz-header-main">
            <div class="clearfix">
                <!--搜索-->
                <%include _search%>
                <%include _server-tel%>
            </div>

            <div class="hz-main-nav-wrap">
                <div class="hz-main-nav">
                    <ul class="main-menu clearfix">
                        <li class="main-menu-item first-item">
                            <a class="main-menu-link" href="/">首页</a>
                        </li>
                        <!--有下拉的加上drop-main-menu-has 没有就是drop-main-menu-no-->
                        <li class="main-menu-item">
                            <a class="main-menu-link drop-main-menu-has" href="javascript:;" rel="dropdown" data-dropdown="productCategoriges" id="productCategoriges">
                                产品分类
                                <i class="iconfont"></i>
                            </a>
                        </li>
                        <!--main-menu-item end-->
                        <li class="main-menu-item">
                            <a class="main-menu-link" href="javascript:;">精选方案</a>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link" href="javascript:;">保险品牌</a>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link" href="javascript:;">产品排行</a>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link" href="javascript:;">理赔无忧</a>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link" href="javascript:;">金豆商城</a>
                        </li>
                    </ul>
                    <!--main-menu end-->
                    <ul class="others-menu clearfix" id="submenulist">
                        <li class="main-menu-item"><a class="main-menu-link drop-main-menu-no" href="javascript:;">活动</a></li>
                        <li class="main-menu-item"><a class="main-menu-link drop-main-menu-no" href="javascript:;">评论</a></li>
                        <li class="main-menu-item">
                            <!--drop-main-menu-has 类鼠标移上 添加main-menu-link-hover-->
                            <a class="main-menu-link drop-main-menu-has" href="javascript:;">
                                专题
                                <i class="iconfont"></i>
                            </a>
                            <div class="drop-main-menu-box fn-hide">
                                <span class="arrow1" style="right: 35px"></span>
                                <span class="arrow2" style="right: 35px"></span>
                                <ul class="drop-main-menu-list">
                                    <li class="drop-main-menu-item"><a href="#">问题</a></li>
                                    <li class="drop-main-menu-item"><a href="#">学习</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link drop-main-menu-has" href="javascript:;">
                                学堂
                                <i class="iconfont"></i>
                            </a>
                            <div class="drop-main-menu-box fn-hide">
                                <span class="arrow1" style="right: 35px"></span>
                                <span class="arrow2" style="right: 35px"></span>
                                <ul class="drop-main-menu-list">
                                    <li class="drop-main-menu-item"><a href="#">慧世界</a></li>
                                    <li class="drop-main-menu-item"><a href="#">慧理财</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="main-menu-item">
                            <a class="main-menu-link drop-main-menu-has" href="javascript:;">
                                快速通道
                                <i class="iconfont"></i>
                            </a>
                            <div class="drop-main-menu-box  fn-hide">
                                <span class="arrow1" style="right: 50px"></span>
                                <span class="arrow2" style="right: 50px"></span>
                                <ul class="drop-main-menu-list">
                                    <li class="drop-main-menu-item"><a href="#">保单查询</a></li>
                                    <li class="drop-main-menu-item"><a href="#">我的保单</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!--others-menu end-->
                </div>
            </div>
        </div>

    </div>
    <!--hz-headeflr end-->
</div>
<!--hz-header-wrap end-->



