<div class="hz-header-search">
	<form action="/search">
		<div class="">
			<input type="text" class="hz-header-search-area placeholder-item" name="keyword" placeholder-text="请输入关键字" placeholder-left="" placeholder-width=""  placeholder-height="18"  placeholder-color="#c6c6c6" placeholder-size="13"  placeholder-zindex="5" />
			<button type="button" class="hz-header-search-button"><i class="iconfont fcw f16"></i></button>
		</div>
	</form>
</div>