<ul class="top-nav-quick-menu">
	<li class="quick-menu-item mobile-item">

		<a class="menu-item-head" href="javascript:;">
			<i class="iconfont menu-icon">&#xe60e;</i>
			慧择APP
			<i class="iconfont arrow-icon">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<div class="drop-menu-box hz-media-box">
                <div class="pic-item hz-media-pic ml10 mr30">
                    <a href="//www.huize.com/app/hzapp.html"><img src="//images.hzins.com/short/www/2014/wx/hzmobile.jpg?v1.0.1" width="120" alt=""></a>
                </div>

                <div class="hz-media-box-content mr10">
                    <h5 class="f18">下载慧择APP</h5>
                    <p class="f14">领取价值99元大礼包</p>

                    <p class="mb10 mt10">
                        <a class="hz-button hz-button-block" target="_blank" href="https://itunes.apple.com/cn/app/hui-ze-bao-xian/id1038333077?l=en&amp;mt=8">
                            <i class="iconfont apple-icon">&#xe61b;</i>免费下载</a>
                    </p>
                    <p><a class="hz-button hz-button-block" href="http://api.m.huize.com/Download/Android" target="_blank">
                            <i class="iconfont android-icon">&#xe61c;</i>免费下载</a>
                    </p>
                </div>
			</div>
			<!--drop-menu-box end-->
		</div>
		<!--menu-item-body-->
	</li>
	<li class="menu-item-separator">|</li>
	<li class="quick-menu-item cart-item">
		<a class="menu-item-head" href="javascript:;">
			<i class="iconfont menu-icon">&#xe60f;</i>
            购物车
			<strong class="item-count">0</strong>
			<i class="iconfont arrow-icon">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<div class="drop-menu-box">
				<p class="tac mb20 f14">您的购物车里还没有保单！</p>
				<ul class="top-nav-product-list">
					<li class="top-nav-product-item">
						<a class="pic fl" href="javascript:;">
							<img src="http://images.hzins.com/upload/admin/2/29/298/2987/ab67b366d4c51e667ac674462bb3.gif" width="75">
						</a>
						<div class="fl product-title">
							<a href="#">太平洋境外旅行综合保险尊贵计划</a>
						</div>
						<div class="fl product-info">
							<p class="price-item">￥ 10.00</p>
							<a  href="javascript:;">删除</a>
						</div>
					</li>
					<li class="top-nav-product-item">
						<a class="pic fl" href="javascript:;">
							<img src="http://images.hzins.com/upload/admin/2/29/298/2987/ab67b366d4c51e667ac674462bb3.gif" width="75">
						</a>
						<div class="fl product-title">
							<a href="#">太平洋境外旅行综合保险尊贵计划</a>
						</div>
						<div class="fl product-info">
							<p class="price-item">￥ 10.00</p>
							<a  href="javascript:;">删除</a>
						</div>
					</li>
				</ul>
				<div >
					<div class="drop-menu-footer">
						<a class="hz-button hz-button-primary hz-button-small fr" href="javascript:;">确定</a>
						共有 <span class="primary-color">0</span> 个投保单
					</div>
				</div>
			</div>
			<!--drop-menu-box end-->
		</div>
	</li>
	<li class="menu-item-separator">|</li>
	<li class="quick-menu-item favorite-item">
		<a class="menu-item-head" href="javascript:;">
			我的收藏
			<strong class="item-count">0</strong>
			<i class="iconfont">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<div class="drop-menu-box">
				<p class="tac fc6 mb20 f14">您还没有收藏保险产品！</p>
				<ul class="top-nav-product-list">
					<li class="top-nav-product-item">
						<a class="pic fl" href="javascript:;">
							<img src="http://images.hzins.com/upload/admin/2/29/298/2987/ab67b366d4c51e667ac674462bb3.gif" width="75">
						</a>
						<div class="fl product-title">
							<a href="#">太平洋境外旅行综合保险尊贵计划</a>
						</div>
						<div class="fl product-info">
							<p class="price-item">￥ 10.00</p>
							<a  href="javascript:;">删除</a>
						</div>
					</li>
					<li class="top-nav-product-item">
						<a class="pic fl" href="javascript:;">
							<img src="http://images.hzins.com/upload/admin/2/29/298/2987/ab67b366d4c51e667ac674462bb3.gif" width="75">
						</a>
						<div class="fl product-title">
							<a href="#">太平洋境外旅行综合保险尊贵计划</a>
						</div>
						<div class="fl product-info">
							<p class="price-item">￥ 10.00</p>
							<a  href="javascript:;">删除</a>
						</div>
					</li>
				</ul>
				<div class="fn-hide">
					<div class="drop-menu-footer">
						<a class="primary-link fr" href="javascript:;">查看所有</a>
						共收藏 <span class="primary-color">0</span> 个产品
					</div>
				</div>
			</div>
			<!--drop-menu-box end-->
		</div>
	</li>
	<li class="menu-item-separator">|</li>
	<li class="quick-menu-item safe-item">
		<a class="menu-item-head" href="javascript:;">
			我的保险箱
			<i class="iconfont">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<ul class="drop-menu-list">
				<li class="menu-list-item"><a href="#">所有保单</a></li>
				<li class="menu-list-item"><a href="#">自助保单</a></li>
				<li class="menu-list-item"><a href="#">自助续保</a></li>
				<li class="menu-list-item"><a href="#">理赔报案</a></li>
			</ul>
		</div>
		<!--menu-item-body end-->
	</li>
	<li class="menu-item-separator">|</li>
	<li class="quick-menu-item center-item">
		<a class="menu-item-head" href="javascript:;">
			个人中心
			<i class="iconfont">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<ul class="drop-menu-list">
				<li class="menu-list-item"><a href="#">我的红包</a></li>
				<li class="menu-list-item"><a href="#">我的金豆</a></li>
				<li class="menu-list-item"><a href="#">账户安全</a></li>
			</ul>
		</div>
		<!--menu-item-body-->
	</li>
	<li class="menu-item-separator">|</li>
	<li class="quick-menu-item help-item">
		<a class="help-link" href="javascript:;">帮助中心</a>
	</li>
</ul>
<!--top-nav-quick-menu end-->