<ul class="hz-login-info clearfix">
	<li class="greeting-item fl fc6"><span id="hello"></span></li>
	<!--未登录-->
	<li class="login-item ml5 fl">
		<a href="javascript:;">登录</a>
		<span class="separator fc9">|</span>
		<a href="javascript:;">注册</a>
	</li>
	<!--已登录-->
	<li class="account-item fl">
		<a class="menu-item-head" href="javascript:;">
			huangys...
			<i class="iconfont arrow-icon">&#xe60b;</i>
		</a>
		<div class="drop-menu-item-body fn-hide">
			<p class="account-info pb15">
				<a class="primary-link" href="#">我的账户</a>
				<span class="pr5 pl5">|</span>
				<a href="javascript:;">退出</a>
			</p>
			<p class="level-info pt15 pb15">
				等级：
				<a class="level-icon level-icon01" href="#" target="_blank">等级1</a>
				<span class="fc6">成长值10</span>
			</p>
            <p class="privilege-info pt15 pb15">
                特权：
                <a class="privilege-icon privilege-icon01"  href="#" target="_blank" rel="prompt" data-prompt-html="晋级" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon02 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="两倍金豆" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon03 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="完善资料奖励" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon04 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="评价奖励" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon05 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="享红包" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon06 privilege-icon-off ml5" href="#" target="_blank" rel="prompt" data-prompt-html="跳级奖励（即将开放）" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                <a class="privilege-icon privilege-icon07 privilege-icon-off ml10" href="#" target="_blank" rel="prompt" data-prompt-html="寄送特权（即将开放）" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
            </p>
			<p class="privilege-all-link pt15">
				<a class="primary-link" href="javascript:;">查看我的特权</a>
			</p>
		</div>
	</li>
</ul>
<!--hz-login-info end-->