<div class="plan-project fcw">
    <div class="layout tac pt30">
        <h2 class="f48 pt15">精雕细琢<strong>打造精品方案</strong></h2>
        <p class="f16 pt25">我们致力于通过10年沉淀的保险数据，获取到真实的用户需求，并基于此为您定制适合的、高性价比的精品保障方案。</p>
        <ul class="plan-listi">
            <li>
                <i class="iconfont">&#xe750;</i>
                <h3 class="f20 mb20">海量产品 精挑细选</h3>
                <p class="taj f14">我们与80+家保险公司合作，从海量的产品数据库中精挑细选高性价比产品</p>
            </li>
             <li>
                <i class="iconfont">&#xe749;</i>
                <h3 class="f20 mb20">官网直销 行业底价</h3>
                <p class="taj f14">绕过中间商，降低营销费用，降低您的保费支出</p>
            </li>
             <li>
                <i class="iconfont">&#xe751;</i>
                <h3 class="f20 mb20">专业顾问 拒绝忽悠</h3>
                <p class="taj f14">第三方客观视角为您解读产品优劣，专业顾问为您答疑解惑</p>
            </li>
             <li>
                <i class="iconfont">&#xe754;</i>
                <h3 class="f20 mb20">全程协助 理赔不难</h3>
                <p class="taj f14">全程免费协助您理赔，并开通3000元以下小额快赔服务</p>
            </li>
        </ul>
        <div class="plan-appiontment">
            <img src="//img.huizecdn.com/hz/www/page/plan/logo.png" alt="" class="fl mr25">
            <p class="plan-appiontment-txt">对方案感兴趣？赶紧预约我们的顾问为您解读</p>
            <a href="http://www.huize.com/baoxianyuyue?oppName=<%=planName%>" target="_blank" class="hz-button hz-button-primary plan-bn2">预约顾问</a>
        </div>
    </div>
</div>