 <div class="hz-breadcrumb pt10 pb30">
    <a href="http://www.huize.com">慧择保险网</a>
    <i class="arrow-right">&gt;</i>
    <a href="http://www.huize.com/guihua/">保险规划</a>
    <i class="arrow-right">&gt;</i>
    <a href="http://www.huize.com/guihua/<%=pageId%>"><%=planName%></a>
</div>
<!--hz-breadcrumb end-->

<div class="detail-hz-tab-box">
    <ul class="hz-tab-menu hz-tab-style01 detail-tab-menu">
        <li class="hz-tab-menu-item active"><a href="javascript:;">保障详情</a></li>
        <li class="hz-tab-menu-item"><a href="javascript:;">风险解读</a></li>
        <li class="hz-tab-menu-item"><a href="javascript:;">方案优势</a></li>
        <li class="hz-tab-menu-item"><a href="javascript:;">常见问题</a></li>
        <li class="hz-tab-menu-item"><a href="javascript:;">用户点评</a></li>
        <li class="hz-tab-menu-item" data-type="link"><a target="_blank" href="http://www.huize.com/Provision/ProjectProvision/<%=pageId%>">保险条款</a></li>
    </ul>

    <ul class="detail-tab-others clearfix">
        <li id="favorite" class="favorite-item fl ml25">
            <a href="javascript:;">
                <i class="iconfont f18">&#xe741;</i>
                收藏
            </a>
        </li>
        <li class="share-item fl ml25">
            <a href="javascript:;" id="sharePanelBtn" rel="prompt" data-prompt-html="" data-prompt-position="bottom" class="primary-link">
                <i class="iconfont f18">&#xe705;</i>
                分享
            </a>
        </li>
    </ul>
</div>