<!--须知-->
<% if(data.insuranceInstruction){%>
<div class="detail-ensure-notice">
	<h3 class="f14 pb20 pt20 fc6 fb">投保须知</h3>
	<div class="notice-content clearfix">
		<%=data.insuranceInstruction%>
	</div>
	<!--notice-content end-->
</div>
<%}%>
<!--detail-ensure-notice end-->