<div class="detail-page f14">
	<!--详情页面标识-->
	<!--置顶在detail-tab-wrap添加class fixed-detail-tab-wrap-->
	<div class="detail-tab-wrap" id="detialTab">
		<div class="layout">
			<div class="hz-breadcrumb pt10 pb30">
				<a href="#">健康保险</a>
				<i class="arrow-right">&gt;</i>
				<a href="#">重大疾病险</a>
				<i class="arrow-right">&gt;</i>
				<h1 class="hz-breadcrumb-active">史带财险</h1>
			</div>
			<!--hz-breadcrumb end-->
			<div class="detail-hz-tab-box">
				<ul class="hz-tab-menu hz-tab-style01 detail-tab-menu" id="detailTabs">
					<li class="hz-tab-menu-item active" data-tab="detial-1"><a href="javascript:;">保障详情</a></li>
					<li class="hz-tab-menu-item" data-tab="detial-2"><a href="javascript:;">产品解读</a></li>
					<li class="hz-tab-menu-item" data-tab="detial-3"><a href="javascript:;">典型案例</a></li>
					<li class="hz-tab-menu-item" data-tab="detial-4"><a href="javascript:;">理赔指引</a></li>
					<li class="hz-tab-menu-item" data-tab="detial-5"><a href="javascript:;">常见问题</a></li>
					<li class="hz-tab-menu-item" data-tab="detial-6"><a href="javascript:;">用户评论(<%=(data.comments.data[0].total+data.comments.data[1].total+data.comments.data[2].total)%>)</a></li>
				</ul>
				<ul class="detail-tab-others clearfix">
					<li class="favorite-item fl" id="favorite"><a href="javascript:;"><i class="iconfont mr5 f20">&#xe602;</i>收藏</a></li>
					<li class="share-item fl ml25">
						<a href="javascript:;" id="sharePanelBtn" data-prompt-html="" data-prompt-position="bottom" class="primary-link"><i class="iconfont mr5 f20">&#xe605;</i>分享</a>
					</li>
				</ul>
			</div>
		</div>
		<!--layout end-->
	</div>
	<!---detail-tab-wrap end-->
	<div id="detaTabLayout" class="layout clearfix pt40 pb30">
		<div class="detail-primary">
			<div class="detail-tab-container" id="detialTabContent">
				<div class="detail-pane hidden show" data-tab="detial-1">
					<% include _detial %>

                    <% include _recommend %>
                    <!--recommended-products-->
				</div>
                <div class="detail-pane hidden" data-tab="detial-2">
                    <% include _reading %>
                </div>
				<div class="detail-pane hidden" data-tab="detial-3">
                    后台数据配置
				</div>
				<div class="detail-pane hidden" data-tab="detial-4">
					 <% include _claims-guidelines %>
				</div>
				<div class="detail-pane hidden" data-tab="detial-5">
					 <% include _faq %>
				</div>
				<div class="detail-pane hidden" data-tab="detial-6">
					 <% include _review %>
				</div>
				<div class="detail-pane  fn-hide"><!--产品解读-->
                    <div class="detail-product-explain clearfix">
                    </div>
			    </div>
			<!--detail-pane end-->

            </div>
            <!--detail-tab-container end-->
	</div>
	<!--detail-primary-->
	<!--置顶class fixed-sidebar如 class="detail-sidebar fixed-sidebar" -->
	<% include _sidebar %>
	<!--detail-sidebar end-->
</div>
<!--layout end-->
</div>
