<div class="banner" id="" style="z-index:0; position:relative;background-color: #99d6f1;">
	<div class="jq-slide">
		<%
		var bannerList = data.images||[];
		%>
		<!--幻灯片占位-->
		<ul  class="jq-slide-ul" >
			<%bannerList.forEach(function(item){%>
			<li class="jq-slide-li slider-item" data-url="<%=item.url%>" style="position:relative">
				<a class="slider-link" href="<%=item.link%>" target="_blank">
					<div class="layout">
						<div class="slider-content">
							<h4 class="f20 fcw"><%=item.text%></h4>
							<p class="fcw f14"><%=item.des%></p>
						</div>
					</div>
				</a>
			</li>
			<%});%>
		</ul>
	</div>
	
</div>
<div class="slider-page">
	<a href="javascript:;" class="pre-arrow iconfont"></a>
	<div class="num"><span class="f36">0</span>/0</div>
	<a href="javascript:;" class="next-arrow iconfont"></a>
</div>