<div class="columns-box bgf7">
	<div class="layout">
		<div class="columns-header tac">
			<h3 class="f28">累计 <strong>945820</strong> 名用户推荐，好评率高达 <strong>98%</strong> </h3>
			<p class="f16 mt20 fc9">不仅仅是销售一份保单，我们用心对待您的每一份保障需求</p>
		</div>
		<div class="columns-body">
			<ul class="data-list clearfix">
				<li class="data-item">
                    性价比高
					<span class="data-num">2055+</span>
				</li>
				<li class="data-item">
                    服务周到
					<span class="data-num">3050+</span>
				</li>
				<li class="data-item">
                    理赔省心
					<span class="data-num">623+</span>
				</li>
				<li class="data-item">
					产品丰富
					<span class="data-num">1080+</span>
				</li>
				<li class="data-item">
                    投保便捷
					<span class="data-num">729+</span>
				</li>
			</ul>
		</div>
		<!--favorable-comment-body end-->
		<div class="columns-footer tac f16" style="margin-top: 80px;">
			<a class="more-link" href="http://www.huize.com/product/list.html" title="产品评论列表" target="_blank">查看全部评论 <i class="iconfont f12">&#xe707;</i></a>
		</div>
	</div>
</div>