<div class="columns-box bgfw">
	<div class="layout">
		<div class="columns-header tac">
			<h3 class="f28">协助 <strong>4.6</strong> 万+用户完成理赔，理赔金额总数超过 <strong>1.52</strong> 亿</h3>

			<p class="f16 mt20 fc9">我们致力于连接保险公司和消费者，打造可靠、高效、让人安心的一站式互联网保险服务平台</p>
		</div>
		<div class="columns-body">
			<ul class="claims-list clearfix">
				<li class="claims-item">
					<div class="icon-pic icon01-pic"></div>
					<h4 class="claims-title tac f18">
                     全程协助
					</h4>
					<div class="claims-summary f14 fc6">
                        360°无缝隙理赔协办服务，为您节省宝贵时间
					</div>
				</li>

				<li class="claims-item">
					<div class="icon-pic icon02-pic"></div>
					<h4 class="claims-title tac f18">
					小额快赔
					</h4>
                    <div class="claims-summary f14 fc6">
                        2000元以下金额，事故确凿、无需调查且资料齐全，3个工作日内完成理赔
                    </div>
				</li>
				<li class="claims-item">
					<div class="icon-pic icon03-pic"></div>
					<h4 class="claims-title tac f18">
                     服务保障
					</h4>
                    <div class="claims-summary f14 fc6">
                        理赔服务全程电子监控，保障服务质量
                    </div>
				</li>
				<li class="claims-item">
					<div class="icon-pic icon04-pic"></div>
					<h4 class="claims-title tac f18">
                        方便查询
					</h4>
                    <div class="claims-summary f14 fc6">
                        实时查询理赔进度，理赔专员为您全程跟进
                    </div>
				</li>
			</ul>
		</div>
		<!--news-body end-->
		<div class="columns-footer tac f16" style="margin-top: 80px;">
			<a class="more-link" href="http://www.huize.com/claims/" target="_blank" title="慧择E理赔">查看理赔服务 <i class="iconfont f12">&#xe707;</i></a>
		</div>
	</div>
</div>