<%
	var homeData = homeData;
%>
<div class="index-page">
	<div class="banner-show-wrap">
		<%include _banner.ejs%>
		<%include _show_number.ejs%>
	</div>
	<%include _program.ejs%>
	<%include _categories.ejs%>
	<%include _insurance_company.ejs%>
	<%include _customer_service.ejs%>
	<%include _special_service.ejs%>
	<%include _favorable_comment.ejs%>
	<%include _news.ejs%>
</div>