<% if(!has){ %>
<span class="pl5 pr5 avail-amount">当前可用<% if(type === 1){ %>余额<% } else {%>金豆<% } %><strong class="primary-color pl5 pr5"><% if(type === 1){ %><%= (amount / 100).toFixed(2)%><%}else{%><%= amount%><%}%></strong><% if(type === 1){ %>元<% } else {%>个<% } %></span>
    <% if(frozenAmount > 0 ){ %> <span class="frozen-amount" >冻结<% if(type === 1){ %>余额<% } else {%>金豆<% } %><strong class="primary-color pl5 pr5"><% if(type === 1){ %><%= (frozenAmount / 100).toFixed(2)%><%}else{%><%= frozenAmount%><%}%></strong><% if(type === 1){ %>元<% } else {%>个<% }} %>
    </span>
    <% if(frozenAmount > 0 ){ %>
    <div class="hz-dropdown edit-value pay-amount-dropdown">
        <div class="input-select">
            <span class="input-select-text" >查看</span>
            <b class="iconfont">&#xe70b;</b>
        </div>
        <div class="hz-dropdown-content bean-dropdown">
            <table class="hz-table f12" width="100%">
                <thead>
                    <tr>
                        <th class="tal">订单号</th>
                        <th class="tal">冻结<% if(type === 1){ %>余额<% } else {%>金豆<% } %>数量</th>
                        <th class="tal">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(frozenAccountBalances,function(item){%>
                        <tr>
                            <td><%= item.orderNum%></td>
                            <td><%= type == 1 ? item.amount / 100 : item.amount%></td>
                            <td data-order-num = "<%= item.orderNum%>" data-amount="<%= item.amount%>"><a href="javascript:;" class="primary-link un-frozen-account">解冻</a></td>
                        </tr>
                    <%});%>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
<% } else{ %>
    <span class="discount-amount-value pl5">-¥<%= (discountAmount / 100).toFixed(2)%></span>
<% } %>
