<%
function formatDate(strTime,showHours){
    if(!strTime){
        return  "";
    }
    var
        reg = /(\d{4}(?:-\d{2}){2})(?=T([\d\:]+)\.)/,
        matchTime = reg.exec(strTime);
    return matchTime[1] + (showHours ? " " + matchTime[2] : "");
}
%>
<%if(show == true){%><div class="confirm-order-operate-content inline-block mr10" id="redEnvelope"><% } else {%>
    <div class="confirm-order-operate-content inline-block mr10" id="redEnvelope" style="visibility: hidden">
<% } %>
    <% if(availableRedEnvelopes.length !== 0 || frozenRedEnvelopes.length !== 0){ %>
        <div class="hz-dropdown ">
        <div class="input-select">
            <span class="input-select-text"><% if(discountRedEnvelope){ %><%= "-￥" + (discountRedEnvelope / 100).toFixed(2)%><% }else{ %>请选择<% } %></span>
             <b class="iconfont">&#xe70b;</b>
        </div>
        <div class="hz-dropdown-content redbag-dropdown" style=" display: none">
            <table class="hz-table f12">
                <colgroup>
                    <col width="7%"/>
                    <col width="21%"/>
                    <col width="21%"/>
                    <col width="21%"/>
                    <col width="15%"/>
                    <col width="15%"/>
                </colgroup><thead>
            <% if(haveRedEnvelope) {%>
                <tr class="fc6">
                    <th class="tal"></th>
                    <th class="tal">红包金额</th>
                    <th class="tal">红包有效期</th>
                    <th class="tal">红包使用范围</th>
                    <th class="tal">红包状态</th>
                    <th class="tal">操作</th>
                </tr>
            </thead>
            <% } %>
                <tbody>
                <% if(haveRedEnvelope > 0) { availableRedEnvelopes.forEach(function(item,i){ %>
                <tr>
                    <td>
                        <div class="tar pl10">
                            <img src="//img.huizecdn.com/hz/www/page/red-bag.png" alt="">
                        </div>
                    </td>
                    <td><%= (item.amount / 100).toFixed(2)%></td>
                    <td><%= formatDate(item.expiredDate)%></td>
                    <td>满<%= (item.thresholdAmount / 100).toFixed(2)%>减<%= (item.amount / 100).toFixed(2)%></td>
                    <td ><% if(item.voucherSerialNo === bestRedEnvelope){ %><span>已使用</span><%}else{%><span>未使用</span><%}%></td>
                    <td data-discount-redenvelope = "<%= item.amount%>" data-oucher-num="<%= item.voucherSerialNo%>"><% if(item.voucherSerialNo === bestRedEnvelope){ %><span class="using-red-Envelope iconfont f18 primary-color">&#xe72f;</span><%} else { %><a class="primary-link use-redEnvelope-btn" href="javascript:;">使用</a><% } %></td>
                </tr>
                <% }); %>
                <% _.each(frozenRedEnvelopes,function(item,i){ %>
                <tr>
                    <td>
                        <div class="tar pl10">
                            <img src="//img.huizecdn.com/hz/www/page/red-bag.png" alt="">
                        </div>
                    </td>
                    <td><%= (item.amount / 100).toFixed(2)%></td>
                    <td><%= formatDate(item.expiredDate)%></td>
                    <td>满<%= (item.thresholdAmount / 100).toFixed(2)%>减<%= (item.amount / 100).toFixed(2)%></td>
                    <td>冻结</td>
                    <td data-discountRedEnvelope = "<%= item.amount%>" data-oucher-num="<%= item.voucherSerialNo%>" data-order-num="<%= item.orderNum%>"><a href="javascript:;" class="primary-link un-frozen-account">解冻</a></td>
                </tr>
                <% }); }%>
                <tr>
                    <td colspan="6">
                        <p>
                            <% if(!haveRedEnvelope){ %>您账户没有满足本单可用条件的红包~<% } %>
                            <a class="hz-button hz-button-small target-red-button ml10 fb" href="javascript:;">激活新红包</a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } else{%>
    <div class="inline-block">
        <span>您账户没有满足本单可用条件的红包~</span>
        <a class="hz-button hz-button-small target-red-button ml20 fb" href="javascript:;">激活新红包</a>
    </div>
    <% } %>
</div>
