<ul class="view-history-list clearfix slider4" style="position: relative; left: 0px;" id="viewWraper" index="1">
    <% _.each(datas,function(item){%>
    <% if(item.productStatus===1){%> <%}%>
        <li class="view-history-item fl">
            <a class="product-pic" href="http://www.huize.com/product/detail-<%=item.productId%>.html?DProtectPlanId=<%=item.planId%>" target="_blank"><img src="<%=item.planBigImg%>" alt=""></a>
            <h4 class="view-history-item-title mt20 mb10"><a href="http://www.huize.com/product/detail-<%=item.productId%>.html?DProtectPlanId=<%=item.planId%>" target="_blank"><%=item.productName%> <%=item.planName%></a></h4>
            <div>
                <span class="view-history-item-price fb"><%=(item.price&&"¥"+(+item.price/100).toFixed(2)||"")%></span>
                <% if(item.originalPrice!==item.price){%>
                    <span class="fr fcc">原价：<del>¥<%=(item.originalPrice/100).toFixed(2)%></del></span>
                <%}%>
            </div>
        </li>

    <%});%>
</ul>