@charset "utf-8";

/*
 * 功能：huize.com - 面包屑
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-breadcrumb {
  font-size: 12px;
  color: $breadcrumb-color;
  a { color: $breadcrumb-color}
  .arrow-right,.hz-breadcrumb-active {
    @include inlineBlock;
//    vertical-align: middle;
  }
  .arrow-right {
    padding: 0 10px;
    font-size: 12px;
    font-family: '\5b8b\4f53';
    font-style: normal;
  }
}
