@charset "utf-8";

/*
 * 功能：huize.com - button
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-button {
  @include inlineBlock;
  vertical-align: middle;
  height: $btn-default-size;
  line-height: $btn-default-size;
  padding: 0 20px;
  color: $btn-default-color;
  background: $btn-default-bg;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  border: $btn-default-border-width solid #ddd;
  box-sizing: border-box;
  font-family: $font-yahei;
  border-radius: 2px;
  @include transition(all .2s ease-in-out);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      border-color: #f6ab1a;
    }
  }

  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
    border-color: #ccc;
    color: #fff;
    background: #ddd;
    border-width: 0;
  }
  
  &:hover {
    text-decoration: none;
  }
}


.hz-button-large {
  height: $btn-large-size;
  line-height: $btn-large-size;
  font-size: 18px;
  font-family: 'Microsoft YaHei';
}

.hz-button-small {
  height: $btn-small-size;
  line-height: $btn-small-size;
  font-size: 12px;
}


.hz-button-primary {
  color: $btn-primary-color;
  background: $btn-primary-bg;
  border: 0;
  &:hover {
    background: $btn-primary-hover-bg;
  }
  &.disabled,
  &:disabled {
    background: #ddd;
    border-width: 0;
  }
}
.hz-button-secondary {
  color: $btn-secondary-color;
  background: $btn-secondary-bg;
  border: 0;
  &:hover {
    background: $btn-secondary-hover-bg;
  }
  &.disabled,
  &:disabled {
    background: #ddd;
    border-width: 0;
  }
}


.hz-button-block {
  display: block;
  width: 100%;
  padding: 0;
}

// Vertically space out multiple block buttons
.hz-button-block + .hz-button-block {
  margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}




.hz-button-disabled{
  &,&:hover {
    cursor: $cursor-disabled;
    border-color: #ccc;
    color: #fff;
    background: #ddd;
    border-width: 0;
  }
}


//取消确认按钮
.button-cancel {
  padding: 0 28px;
  border: 1px solid #ddd;
  background: #f8f8f8;
  color: #666;
  &:focus {
    border-color: #ddd !important;
  }
}

.button-ok {
  padding: 0 28px;
  border-color: #f6ab1a;
  background: #f6ab1a;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
}