@charset "utf-8";

/*
 * 功能：huize.com - 日历
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.Wdate {
  box-shadow: none;
  width: 112px;
  padding: 3px 5px;
  height: 22px;
  line-height: 22px;
  background-color: #fff;
  background-image: url(#{$imghost}datePicker.png) !important;
  background-repeat:  no-repeat ;
  background-position: right;
  cursor: pointer;
  &:disabled,
  &.disabled {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
  }
  &:focus {
    outline: none;
  }
}

.Wdate-wrap {
  position: relative;
  @include inlineBlock;
  .unit {
    position: absolute;
    right: 38px;
    top: 10px;
    line-height: 1;
    color: #999;
    z-index: 100;
  }
  .Wdate {
    position: absolute;
    width:20px;
    height: 20px;
    right: 8px;
    top:3px;
    font-size:0;
    line-height: 0;
    z-index: 4;
    color: #FFF;
    overflow: hidden;
  }
}





