@charset "utf-8";

/*
 * 功能：huize.com - 筛选
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

.hz-dropdown {
  position: relative;
  line-height: 1;
  @include inlineBlock;
  &:focus{
    outline: none;
  }

  &.disabled .input-select-text {
    background: #eee;
    color: #999;
    cursor: not-allowed;
  }

  .input-select-highlight {
    .input-select-text {
      border: 2px solid #f6ab1a;

    }
    b {
      color: #f6ab1a;
    }
  }

  .input-select .iconfont {
    @include inlineBlock;
    @include transition(all, 0.25s, linear 0.25s);
  }
}

.hz-dropdown-hover {
  .input-select .iconfont {
    @include transform(rotate(180deg));
  }
}

.hz-dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1020;
  display: none;
  min-width: 98%;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #dde9fd;
  border-radius: 0;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
  box-shadow: 2px 2px 4px rgba(10,2,4,0.1);


  .hz-dropdown-menu {
    max-height: 200px;
    overflow: hidden;
    overflow-y: auto;
  }

  .hz-select-option {
    line-height: 1.4;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background: #f6f9fe;
    }
  }
  .hz-select-option-selected {
    cursor: default;
    background: #f6f9fe;
  }



  .others-content {
    border-top: 1px solid #dde9fd;
    margin: 0 10px 20px;
    padding-top: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-track {
    background-color: transparent
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
  }
}

