@charset "utf-8";

/*
 * 功能：huize.com - 字体图标
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/
@import '../config';

@font-face {font-family: "iconfont";
  src: url('#{$fonthost}iconfont.eot'); /* IE9*/
  src: url('#{$fonthost}iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$fonthost}iconfont.woff') format('woff'), /* chrome, firefox */
  url('#{$fonthost}iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$fonthost}iconfont.svg#iconfont') format('svg')/* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle
}

