@charset "utf-8";

/*
 * 功能：huize.com - 布局
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/
@import '../config';

.layout {
  width: 1190px;
  margin-left: auto;
  margin-right: auto;
}

.w1350 {
  .fixed-top-table,
  .layout {
    width: 1350px;
  }


  //详情页
  .detail-ensure-info {
    .ensure-support-item {
      width: 188px;
    }
  }
  /*产品详情评论*/
  .detail-product-comment  .comment-meta-middle { width: 489px;}
  .detail-product-comment .comment-meta-right { width: 205px;}
  .detail-product-comment .comment-meta-left { width: 165px;}

  /*产品详情 tab 理赔指引*/
  .detail-product-claims .claims-service-tab-separator {
    width: 90px;
  }

  /*保障详情推荐产品*/
  .recommended-products {
    .recommended-product-item {
      width: 218px;
      height: 218px;
    }
    .recommended-product-mark {
      width: 25px;
      height: 25px;
      margin: 110px 5px 0;
    }
    li.last-item .price-item .current-price {
      font-size: 24px;
    }

    .recommended-product-item .content {
      padding: 20px 30px;
    }
  }



  /*产品对比*/
  .comparer-page .fixed-top-table {
    width: 1350px;
  }

}