@charset "utf-8";

/*
 * 功能：huize.com - 一般情况用户产品保障项目
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

/**
 *
*/
.hz-list {
  .hz-list-item {
    @include clearfix;
    .hz-list-content,
    .hz-list-title {
      float: left;
    }

    .hz-list-title {
      width: 60%;
    }

    .hz-list-content {
      width: 40%;
    }
  }
}
