@charset "utf-8";

/*
 * 功能：huize.com - 分页
 * 备注：使用inline-block 方便设置左中右
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/

@import '../config';

/*.hz-pagination {
  line-height:28px;
  font-size:0;
  text-align:center;
  letter-spacing:-0.307em;
  *letter-spacing:normal;
  *word-spacing:-1px;
  word-wrap:normal;
  white-space:nowrap;

  .hz-page-item {
    @include inlineBlock;
    vertical-align:top;
    margin: 0 5px;
    padding:0 12px;
    border:1px solid #ddd;
    font-size:14px;
    letter-spacing:normal;
    word-spacing:normal;
    -webkit-transition:background-color 0.3s;
    -moz-transition:background-color 0.3s;
    -ms-transition:background-color 0.3s;
    transition:background-color 0.3s;
  }

  .hz-pageprv{
    margin-left:0;
  }

  .hz-pagenxt{
    margin-right:0;
  }

  .hz-dot-item {
    border: none;
  }

   a, a:hover{
    text-decoration:none;
    color:#333;
  }

  .hz-page-item-disabled,
  .hz-page-item-disabled:hover,
  .hz-page-item-disabled:active {
    cursor:default;
    color:#ccc;
    border: 1px solid #eee;
  }

  .hz-page-item-active {
    border: 2px solid #f6ab1a;
    padding: 0 11px;
    line-height: 26px;
  }
}*/


//覆盖kkpager
#kkpager  {
  text-align: center;

  .pageBtnWrap {
    float: none !important;
    @include inlineBlock;
    vertical-align: middle;
    span {
      border-radius: 0 !important;
    }
    a {
      margin-right: 10px;
      border-color: #ddd;
      color: #333;
      border-radius: 0;
      &:hover {
        padding: 2px 9px;
        background: #fff;
        border: 2px solid #f6ab1a;
        color: #333;
      }
    }

    span.curr {
      padding: 2px 9px;
      border: 2px solid #f6ab1a;
      background: #fff;
      color: initial;
    }
  }


}





