@charset "utf-8";

/*
 * 功能：huize.com - 分享
 * 作者：huangyongsheng@hzins.com
 * 时间：2016/02/26
*/
@import '../config';

.share-icon {
  @include inlineBlock;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url(#{$imghost}share-sprite.png) no-repeat 0 0;
  line-height: 0;
  font-size: 0;
}

.share-wx-icon { background-position: 0 0;}
.share-qq-icon { background-position: 0 -30px;}
.share-sina-icon { background-position: 0 -60px;}
.share-qz-icon { background-position: 0 -90px;}