
    <div class="top-nav layout">
        <ul class="hz-login-info clearfix">
            <li class="greeting-item fl fc6"><%=TimeTip%></li>

            <% if(CustomerCode==0){%>
            <!--未登录-->
            <li class="login-item ml5 fl">
                <a href="javascript:;">登录</a>
                <span class="separator fc9">|</span>
                <a href="javascript:;">注册</a>
            </li>
            <%}else{%>
            <!--已登录-->
            <li class="account-item fl">
                <a class="menu-item-head" href="javascript:;">
                    <%=CustomerName%>
                    <i class="iconfont arrow-icon">&#xe60b;</i>
                </a>

                <div class="drop-menu-item-body fn-hide">
                    <p class="account-info pb15">
                        <a class="primary-link" href="<%=MyAccountUrl%>">我的账户</a>
                        <span class="pr5 pl5">|</span>
                        <a href="<%=QuitUrl%>">退出</a>
                    </p>
                    <p class="level-info pt15 pb15">
                        等级：
                        <a class="level-icon level-icon01" href="#" target="_blank">等级1</a>
                        <span class="fc6">成长值<%=GrowthValue%></span>
                    </p>
                    <p class="privilege-info pt15 pb15">
                        特权：
                        <a class="privilege-icon privilege-icon01"  href="#" target="_blank" rel="prompt" data-prompt-html="晋级" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon02 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="两倍金豆" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon03 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="完善资料奖励" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon04 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="评价奖励" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon05 ml5" href="#" target="_blank" rel="prompt" data-prompt-html="享红包" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon06 privilege-icon-off ml5" href="#" target="_blank" rel="prompt" data-prompt-html="跳级奖励（即将开放）" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                        <a class="privilege-icon privilege-icon07 privilege-icon-off ml10" href="#" target="_blank" rel="prompt" data-prompt-html="寄送特权（即将开放）" data-prompt-position="bottom"><i class="iconfont">&#xe615;</i></a>
                    </p>

                    <p class="privilege-all-link">
                        <a class="primary-link" href="javascript:;">查看我的特权</a>
                    </p>
                </div>
            </li>
            <%}%>

        </ul><!--hz-login-info end-->


        <ul class="top-nav-quick-menu" id="myinfo">
            <li class="quick-menu-item mobile-item" id="appshow">

                <!--鼠标移上 class menu-item-head添加状态 menu-item-head-hover-->
                <a class="menu-item-head"  href="javascript:;">
                    <i class="iconfont menu-icon">&#xe60e;</i>
                    慧择APP
                    <i class="iconfont arrow-icon">&#xe60b;</i>
                </a>

                 <div class="drop-menu-item-body fn-hide">
                     <div class="drop-menu-box hz-media-box mt5">
                         <div class="pic-item hz-media-pic ml10 mr30">
                             <a href="//www.huize.com/app/hzapp.html"><img src="//images.hzins.com/short/www/2014/wx/hzmobile.jpg?v1.0.1" width="120" alt=""></a>
                         </div>

                         <div class="hz-media-box-content mr10">
                             <h5 class="f18">下载慧择APP</h5>
                             <p class="f14 pt10">领取价值99元大礼包</p>

                             <p class="mb10 mt10">
                                 <a class="hz-button hz-button-block" target="_blank" href="https://itunes.apple.com/cn/app/hui-ze-bao-xian/id1038333077?l=en&amp;mt=8">
                                     <i class="iconfont apple-icon">&#xe61b;</i>免费下载</a>
                             </p>
                             <p><a class="hz-button hz-button-block" href="http://api.m.huize.com/Download/Android" target="_blank">
                                 <i class="iconfont android-icon">&#xe61c;</i>免费下载</a>
                             </p>
                         </div>

                     </div>
                     <!--drop-menu-box end-->

                 </div>
                 <!--menu-item-body-->

            </li>


            <li class="menu-item-separator">|</li>
            <% if(CustomerCode!=0){%>
            <li class="quick-menu-item favorite-item">
                <a class="menu-item-head" href="javascript:;">
                    我的收藏
                    <strong class="item-count">0</strong>
                    <i class="iconfont arrow-icon">&#xe60b;</i>
                </a>

                <div class="drop-menu-item-body fn-hide">
                    <div class="drop-menu-box" id="favoriteItems">

                    </div>
                </div>
                <!--drop-menu-item-body end-->
            </li>

            <li class="menu-item-separator">|</li>

            <%}%>
            <li class="quick-menu-item safe-item">
                <a class="menu-item-head" href="<%=MyAccountUrl%>">
                    我的保险箱
                    <i class="iconfont arrow-icon">&#xe60b;</i>
                </a>

                <div class="drop-menu-item-body fn-hide">
                    <ul class="drop-menu-list">
                        <li class="menu-list-item"><a href="http://i.hzins.com?url=policy/policyAll" target="_blank">所有保单</a></li>
                        <li class="menu-list-item"><a href="http://i.hzins.com/?url=policy/policyUnpay" target="_blank">自助保单</a></li>
                        <li class="menu-list-item"><a  href="http://i.hzins.com/?url=Policy/PolicyRenewal" target="_blank">自助续保</a></li>
                        <li class="menu-list-item"><a href="http://www.hzins.com/claims/Informant.aspx" target="_blank">理赔报案</a></li>
                    </ul>
                </div><!--menu-item-body end-->
            </li>

            <li class="menu-item-separator">|</li>

            <li class="quick-menu-item center-item">
                <a class="menu-item-head" href="<%=MySafeUrl%>">
                    个人中心
                    <i class="iconfont arrow-icon">&#xe60b;</i>
                </a>

                <div class="drop-menu-item-body fn-hide">
                    <ul class="drop-menu-list">
                        <li class="menu-list-item"><a href="http://i.hzins.com/?url=myaccount/redenvelope" target="_blank">我的红包</a></li>
                        <li class="menu-list-item"><a href="http://i.hzins.com/?url=myaccount/goldbean" target="_blank">我的金豆</a></li>
                        <li class="menu-list-item"><a href="http://i.hzins.com/?url=myinformation/AccountSafe" target="_blank">账户安全</a></li>
                    </ul>
                </div><!--menu-item-body-->
            </li>

            <li class="menu-item-separator">|</li>

            <li class="quick-menu-item help-item">
                <a class="help-link" href="javascript:;">帮助中心</a>
            </li>

        </ul><!--top-nav-quick-menu end-->
    </div><!--top-nav end-->